{% extends "base.html.twig" %}

{% block content %}

    <!-- MAP SECTION -->
    <div class="clearfix p-0">
        <div id="map-canvas"></div>
    </div>

    <!-- ====================================
    ———	LOCATION SEARCH ONE
    ===================================== -->
    <div class="py-7 py-md-0 bg-light">
        <div class="container position-relative px-md-0">
            <div class="search-box">
                <form method="GET" action="{{ path('app_event_index') }}">
                    <div class="form-group mb-md-0">
                        <input type="text" class="form-control" placeholder="{{ 'enter your keywords'|trans|capitalize }}" id="search" name="search">
                    </div>
                    <div class="select-default">
                        <select class="select-location" id="location" name="location">
                            <option>All Location</option>
                            <option>U.S.A</option>
                            <option>U.K</option>
                            <option>ASIA</option>
                        </select>
                    </div>
                    <div class="select-default">
                        <select class="select-location" id="groups[]" name="groups[]">
                            <option>{{ 'all Categories'|trans|capitalize }}</option>
                            {% for group in groups %}
                            <option>{{ group.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">
                        {{ 'search'|trans|capitalize }}
                    </button>
                </form>
            </div>
        </div>
    </div>

    <!-- ====================================
    ———	BROWSER CATEGORI AREA
    ===================================== -->
    <section class="pt-md-10 sec-pb-70 pb-6 bg-light">
        <div class="container">
            <div class="section-title pt-md-8">
                <h2>{{ 'browse by categories'|trans|capitalize }}</h2>
                <p> {{ 'explore and connect with great local organizations'|trans|capitalize }}</p>
            </div>
            <div class="row">
                {% for group in groups %}
                    <div class="col-md-6 col-lg-3">
                        {% include 'cards/group.html.twig' with {'item': group} %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- ====================================
    ———	LISTING
    ===================================== -->
    <section class="pt-7 pt-md-10">
        <div class="container">
            <div class="section-title">
                <h2>{{ 'upcoming events'|trans|capitalize }}</h2>
                <p>{{ 'what should be next on your calander'|trans|capitalize }}</p>
            </div>
            <div class="row justify-content-center">
                {% for event in events %}
                <div class="col-md-6 col-lg-4">
                    {% include 'cards/location.html.twig' with {'item': event} %}
                </div>
                {% endfor %}
            </div>
            <div class="text-center pt-5">
                <a href="{{ path('app_event_index') }}" class="btn btn-primary">{{ 'see all events'|trans|capitalize }}</a>
            </div>
        </div>
    </section>

    <!-- ====================================
    ———	SERVICES SECTION
    ===================================== -->
    <section class="py-7 py-md-10">
        <div class="container">
            <div class="border rounded pt-7">
                <div class="row">

                    <div class="col-sm-4 col-xs-12">
                        <div class="card border-0 text-center">
                            <div class="icon-lg m-auto rounded-circle">
                                <i class="icon-listy icon-key text-primary"></i>
                            </div>
                            <div class="card-body">
                                <h2 class="h4 font-weight-normal mb-3">Secure Trading</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="card border-0 text-center">
                            <div class="icon-lg m-auto rounded-circle">
                                <i class="icon-listy icon-wreath text-primary"></i>
                            </div>
                            <div class="card-body">
                                <h2 class="h4 font-weight-normal mb-3">24/7 Hours Support</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-xs-12">
                        <div class="card border-0 text-center">
                            <div class="icon-lg m-auto rounded-circle">
                                <i class="icon-listy icon-tag3 text-primary"></i>
                            </div>
                            <div class="card-body">
                                <h2 class="h4 font-weight-normal mb-3">Easy Trading</h2>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed eiusmod</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
