{% if events is  defined and events|length > 0 %}
{#<table id="events" class="display nowrap table" style="width:100%">#}
{#    <thead>#}
{#    <tr>#}
{#        <th>{{ 'name'|trans|capitalize }}</th>#}
{#        <th>{{ 'start'|trans|capitalize }}</th>#}
{#        <th>{{ 'end'|trans|capitalize }}</th>#}
{#        <th>{{ 'location'|trans|capitalize }}</th>#}
{#        <th>{{ 'tickets available'|trans|capitalize }}</th>#}
{#        <th>Status</th>#}
{#        <th><a href="{{ path('app_dashboardorganization_event', {id: 'add'}) }}" class="btn btn-success btn-sm">{{ 'add'|trans|capitalize }}</a></th>#}
{#    </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#    <tr>#}
{#        <td class="text-capitalize">#}
{#            <a class="text-hover-primary text-muted" href="{{ path('app_event_event', {id: event.id}) }}" target="_blank">{{ event.name }}</a>#}
{#        </td>#}
{#        <td>#}
{#            {{ event.startDate|date("d/m/Y") }}#}
{#        </td>#}
{#        <td>#}
{#            {{ event.endDate|date("d/m/Y") }}#}
{#        </td>#}
{#        <td class="text-capitalize">{% if event.location|default %}{{ commonground_resource(event.location).name }}{% endif %}</td>#}
    <table id="events" class="display nowrap table" style="width:100%">
        <thead>
        <tr>
            <th>{{ 'name'|trans|capitalize }}</th>
            <th>{{ 'start'|trans|capitalize }}</th>
            <th>{{ 'end'|trans|capitalize }}</th>
            <th>{{ 'location'|trans|capitalize }}</th>
            <th>{{ 'tickets available'|trans|capitalize }}</th>
            <th>Status</th>
            <th><a href="{{ path('app_dashboardorganization_event', {id: 'add'}) }}"
                   class="btn btn-success btn-sm">{{ 'add'|trans|capitalize }}</a></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}

            {% set quantity = 0 %}
            {% set maxQuantity = 0 %}
            {% set products = commonground_resource_list({'component':'pdc', 'type':'products'}, {'event':event['@id']})['hydra:member'] %}
            {% if products|default %}
                {% for product in products %}
                    {% if product.offers|default %}
                        {% for offer in product.offers %}
                            {% if offer.maxQuantity|default %}
                                {% set maxQuantity = maxQuantity + offer.maxQuantity %}
                            {% endif %}
                            {% if offer.quantity|default %}
                                {% set quantity = quantity + offer.quantity %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            <tr>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" href="{{ path('app_event_event', {id: event.id}) }}"
                       target="_blank">{{ event.name }}</a>
                </td>
                <td>
                    {{ event.startDate|date('d/m/Y') }}
                </td>
                <td>
                    {{ event.endDate|date('d/m/Y') }}
                </td>
                <td class="text-capitalize">{% if event.location|default %}{{ commonground_resource(event.location).name }}{% endif %}</td>

                <td>
                    {% if quantity|default %}
                        {{ quantity }} {% if maxQuantity|default %} / {% endif %}
                    {% endif %}
                    {% if maxQuantity|default %}{{ maxQuantity }}{% endif %}
                    {% if not quantity|default and not maxQuantity|default %}
                        N/A
                    {% endif %}
                </td>
                <td>
                    <span
                        class="badge {% if event.status == 'private' %} badge-danger {% else %} badge-success {% endif %} px-2 py-1">{{ event.status }}</span>
                </td>
                <td style="text-align: center">

                    <div class="dropdown">
                        <a class="dropdown-toggle text-center" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"><i
                                class="fas fa-ellipsis-v"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item"
                               href="{{ path('app_dashboardorganization_event', {id: event.id}) }}">{{ 'edit'|trans|capitalize }}</a>
                            <a class="dropdown-item"
                               href="{{ path('app_dashboardorganization_eventcheckin', { id: event.id}) }}">{{ 'checkin'|trans|capitalize }}</a>
                            <a class="dropdown-item"
                               href="{{ path('app_dashboardorganization_eventtickets', { id: event.id}) }}">{{ 'tickets'|trans|capitalize }}</a>
                            {% if event.status|default and event.status != 'published' %}
                                <a class="dropdown-item"
                                   href="{{ path('app_event_event', {id: event.id}) }}">{{ 'preview'|trans|capitalize }}</a>
                            <a class="dropdown-item"
                               href="{{ path('app_dashboardorganization_publishevent', { id: event.id}) }}">{{ 'publish'|trans|capitalize }}</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="card border-light shadow-sm">
        <div class="card-body text-center">
            <p>{{ 'no events found'|trans|capitalize }}</p>
            <a href="{{ path('app_dashboardorganization_event', {id: 'add'}) }}"
               class="btn btn-primary">{{ 'add your first event'|trans|capitalize }}!</a>
        </div>
    </div>
{% endif %}


