{% if groups|default and  groups|length > 0 %}
    <table id="products" class="display nowrap table" style="width:100%">
        <thead>
        <tr>
            <th>{{ 'name'|trans|capitalize }}</th>
            <th>{{ 'description'|trans|capitalize }}</th>
            <th>{{ 'members'|trans|capitalize }}</th>
            <th><button type="button" class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#GroupModalAdd">{{ 'add'|trans|capitalize }}</button></th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" >{{ group.name }}</a>
                </td>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" >{{ group.description }}</a>
                </td>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted" >{{ group.users|length }}</a>
                </td>
                <td>
                    <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini float-right" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#GroupModal{{ group.id }}">{{ 'edit'|trans|capitalize }}</a>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#MailModal{{ group.id }}">{{ 'mail to group'|trans|capitalize }}</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="card border-light shadow-sm">
        <div class="card-body text-center">
            <p>{{ 'no groups found'|trans|capitalize }}</p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#GroupModalAdd">{{ 'add your first group'|trans|capitalize }}!</a>
        </div>
    </div>
{% endif %}

{% include 'dashboard_organization/modals/group.html.twig' %}

{% for group in groups %}
    {% include 'dashboard_organization/modals/group.html.twig' with {'resource': group} %}
    {% include 'dashboard_organization/modals/mail_group.html.twig' with {'resource': group} %}
{% endfor %}


