{% if mailingLists|default and  mailingLists|length > 0 %}
    <table id="products" class="display nowrap table" style="width:100%">
        <thead>
        <tr>
            <th>{{ 'name'|trans|capitalize }}</th>
            <th>{{ 'members'|trans|capitalize }}</th>
            <th><a href="#" class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#MailinglistModalAdd">{{ 'add'|trans|capitalize }}</a></th>
        </tr>
        </thead>
        <tbody>
        {% for mailingList in mailingLists %}
            <tr>
                <td class="text-capitalize">
                    <span class="text-muted" >{{ mailingList.name }}</span>
                </td>
                <td>{{ mailingList.subscribers|length }}</td>
                <td>
                    <div class="float-right">
                        {% if mailingList.subscribers|length > 0 %}
                            <a class="btn btn-success btn-sm mr-1" href="#" data-toggle="modal" data-target="#MailinglistModalMailing{{ mailingList.id }}">{{ 'send email'|trans }}</a>
                        {% endif %}
                        <a class="btn btn-primary btn-sm mr-1" href="#" data-toggle="modal" data-target="#MailinglistModal{{ mailingList.id }}">{{ 'edit'|trans }}</a>
                        <a class="btn btn-danger btn-sm" href="#" data-toggle="modal" data-target="#MailinglistModalDelete{{ mailingList.id }}">{{ 'delete'|trans|capitalize }}</a>
                    </div>
                    </div>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="card border-light shadow-sm">
        <div class="card-body text-center">
            <p>{{ 'no mailing lists found'|trans|capitalize }}</p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#MailinglistModalAdd">{{ 'add your first mailing list'|trans|capitalize }}!</a>
        </div>
    </div>
{% endif %}

{% include 'dashboard_organization/modals/mailinglist.html.twig' %}

{% for mailingList in mailingLists %}
    {% include 'dashboard_organization/modals/mailinglist.html.twig' with {'resource': mailingList} %}
    {% include 'dashboard_organization/modals/mailinglist_delete.html.twig' with {'resource': mailingList} %}
    {% if mailingList.subscribers|length > 0 %}
        {% include 'dashboard_organization/modals/mailinglist_mailing.html.twig' with {'resource': mailingList} %}
    {% endif %}
{% endfor %}
