{% if product.offers|default and product.offers|length > 0 %}
    <table id="offers" class="display nowrap table" style="width:100%">
        <thead>
        <tr>
            <th>{{ 'name'|trans|capitalize }}</th>
            <th>{{ 'audience'|trans|capitalize }}</th>
            <th>{{ 'price'|trans|capitalize }}</th>
            <th>
                <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                        data-target="#OfferModalAdd">{{ 'add'|trans|capitalize }}</button>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for offer in product.offers %}
            <tr>
                <td class="text-capitalize">
                    <a class="text-hover-primary text-muted">{{ offer.name }}</a>
                </td>
                <td>
                    <a class="text-hover-primary text-muted">{{ offer.audience }}</a>
                </td>
                <td>
                    {{ (offer.price)|localizedcurrency(offer.priceCurrency) }}
                </td>
                <td class="text-capitalize">
                    <a class="btn btn-sm btn-success float-right" href="#" data-toggle="modal"
                       data-target="#OfferModal{{ offer.id }}">{{ 'edit'|trans|capitalize }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="card border-light shadow-sm">
        <div class="card-body text-center">
            <p>{{ 'no offers found'|trans|capitalize }}</p>
            <a href="#" class="btn btn-primary" data-toggle="modal"
               data-target="#OfferModalAdd">{{ 'add your first offer'|trans|capitalize }}!</a>
        </div>
    </div>
{% endif %}

{% include 'dashboard_organization/modals/offer_product.html.twig' %}

{% if product.offers|default %}
    {% for offer in product.offers %}
        {% include 'dashboard_organization/modals/offer_product.html.twig' with {'resource': offer} %}
    {% endfor %}
{% endif %}


