
{% if participants is  defined and participants|length > 0 %}
<table id="events" class="display nowrap table" style="width:100%">
    <thead>
    <tr>
        <th>{{ 'name'|trans|capitalize }}</th>
        <th>{{ 'date'|trans|capitalize }}</th>
        <th>{{ 'location'|trans|capitalize }}</th>
        <th>{{ 'tickets'|trans|capitalize }}</th>
        <th>{{ 'sales'|trans|capitalize }}</th>
        <th>Status</th>
        <th><button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#ParticipantModalAdd">{{ 'add'|trans|capitalize }}</button></th>
    </tr>
    </thead>
    <tbody>
    {% for participant in participants %}
    <tr>
        <td class="text-capitalize">
            <a class="text-hover-primary text-muted" href="listing-rental.html">{{ participant.name }}</a>
        </td>
        <td>
        </td>
        <td class="text-capitalize">

        </td>
        <td>
            <span class="d-block ">80 Available</span>
            <span class="d-block ">120 Sold</span>
        </td>
        <td class="text-capitalize">
        </td>
        <td>
            <span class="badge badge-warning px-2 py-1">Paid</span>
        </td>
        <td>
            <div class="dropdown">
                <a class="dropdown-toggle icon-burger-mini" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#ParticipantModal{{ participant.id }}">{{ 'edit'|trans|capitalize }}</a>
                    <a class="dropdown-item" href="#">Checkin</a>
                    <a class="dropdown-item" href="#">Checkout</a>
                    <a class="dropdown-item" href="#">Order</a>
                </div>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="card border-light shadow-sm">
    <div class="card-body text-center">
        <p>{{ 'no participants found'|trans|capitalize }}</p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ParticipantsModalAdd">{{ 'add your first participants'|trans|capitalize }}!</a>
    </div>
</div>
{% endif %}

{% include 'dashboard_organization/modals/participant.html.twig' %}

{% for participant in participants  %}
    {% include 'dashboard_organization/modals/participant.html.twig' with {'resource': participant} %}
{% endfor %}



