{% if providers is defined and providers|length > 0 %}
    <table id="events" class="display nowrap table" style="width:100%">
        <thead>
        <tr>
            <th>{{ 'type'|trans|capitalize }}</th>
            <th>{{ 'authorization'|trans|capitalize }}</th>
            <th><a style="float: right" href="{{ path('app_dashboardorganization_paymentprovider', {id: 'add'}) }}"
                   class="btn btn-success btn-sm">{{ 'add'|trans|capitalize }}</a></th>
        </tr>
        </thead>
        <tbody>
        {% for provider in providers %}
            <tr>
                <td class="text-capitalize">
                    {{ provider.type }}
                </td>
                <td class="text-capitalize">
                    {% if provider.authorization|default %}{{ provider.authorization }}{% endif %}</td>
                <td>
                    <div class="dropdown"  style="float: right">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"><i
                                class="fas fa-ellipsis-v"></i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item"
                               href="{{ path('app_dashboardorganization_paymentprovider', {id: provider.id}) }}">{{ 'edit'|trans|capitalize }}</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="card border-light shadow-sm">
        <div class="card-body text-center">
            <p>{{ 'no providers found'|trans|capitalize }}</p>
            <a href="{{ path('app_dashboardorganization_paymentproviders', {id: 'add'}) }}"
               class="btn btn-primary">{{ 'add your first provider'|trans|capitalize }}!</a>
        </div>
    </div>
{% endif %}


