{% if users|default and  users|length > 0 %}
    <table id="products" class="display nowrap table" style="width:100%">
        <thead>
        <tr>
            <th>{{ 'name'|trans|capitalize }}</th>
            <th>{{ 'group(s)'|trans|capitalize }}</th>
            <th><button type="button" class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#UserModalAdd">{{ 'invite'|trans|capitalize }}</button></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <a class="text-hover-primary text-muted" >{{ user.name }}</a>
                </td>
                <td>
                    <a class="text-hover-primary text-muted" >
                        {% for group in user.groups %}{% if user.groups|length == 1 %}{{ group|capitalize }}{% else %}{{ group|capitalize }},{% endif %}{% endfor %}
                    </a>
                </td>
                <td>
                    <div class="dropdown">
                        <a class="dropdown-toggle icon-burger-mini float-right" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#UserModal{{ user.name }}">Edit</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="card border-light shadow-sm">
        <div class="card-body text-center">
            <p>{{ 'no users found'|trans|capitalize }}</p>
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#UserModalAdd">{{ 'add your first user'|trans|capitalize }}!</a>
        </div>
    </div>
{% endif %}

{% include 'dashboard_organization/modals/user.html.twig' %}

{% for user in users %}
    {% include 'dashboard_organization/modals/user.html.twig' %}
{% endfor %}


