{% if resource is defined %}
    {% set  id = resource['id'] %}
    {% set  type = 'Organization' %}
{% else %}
    {% set  id = 'Add' %}
    {% set  type = 'Organization' %}
{% endif %}

{% extends "dashboard_user/modals/modal.html.twig" %}

{% block body %}
    <form id="{{ type }}Form{{ id }}" method="post">
        {% if resource['id'] is defined %}<input type="hidden" id="id" name="id"
                                                 value="{{ resource['id'] }}">{% endif %}
        {% if resource['@id'] is defined %}<input type="hidden" id="@id" name="@id"
                                                  value="{{ resource['@id'] }}">{% endif %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">{{ 'name of your organization'|trans|capitalize }}*</label>
                    <input type="text" class="form-control" id="name" name="name"
                           {% if resource.name is defined %}value="{{ resource.name|capitalize }}"{% endif %} required>
                </div>
            </div>
            {% if resource.contact|default %}
                {% set contact = commonground_resource(resource.contact) %}
            {% endif %}
            <div class="col-md-6">
                <div class="form-group" id="telephones[]">
                    <div class="form-inline">
                        <label for="telephone">{{ 'telephone'|trans|capitalize }}</label>
                        <i style="margin-left: 5px; color: #2196f3" class="fa fa-plus"
                           onclick="addItem('telephones[]');" data-toggle="tooltip" data-placement="top"
                           title="{{ 'add more phone numbers'|trans|capitalize }}"></i>
                    </div>
                    {% if contact.telephones is defined and contact.telephones is not empty %}
                        {% for numbers in contact.telephones %}
                            <input class="form-control" name="telephone" type="tel" id="telephone"
                                   value="{{ numbers.telephone }}">
                        {% endfor %}
                    {% else %}
                        <input class="form-control" name="telephone" id="telephone" type="tel"
                               placeholder="{{ 'add phone number'|trans|capitalize }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="description">{{ 'description'|trans|capitalize }}</label>
                    <textarea class="form-control" rows="5" id="description"
                              name="description">{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="emails[]">
                    <div class="form-inline">
                        <label for="email">{{ 'email'|trans|capitalize }}</label>
                        <i style="margin-left: 5px; color: #2196f3" class="fa fa-plus" onclick="addItem('emails[]');"
                           data-toggle="tooltip" data-placement="top"
                           title="{{ 'add more emails'|trans|capitalize }}"></i>
                    </div>
                    {% if contact.emails is defined and contact.emails is not empty %}
                        {% for emails in contact.emails %}
                            <input class="form-control" name="email" type="email" id="email" value="{{ emails.email }}">
                        {% endfor %}
                    {% else %}
                        <input class="form-control" name="email" id="email" type="email"
                               placeholder="{{ 'add email'|trans|capitalize }}">
                    {% endif %}
                </div>
                <div class="form-group" id="socials[]">
                    <div class="form-inline">
                        <label for="socials">{{ 'socials'|trans|capitalize }}</label>
                        <i style="margin-left: 5px; color: #2196f3" class="fa fa-plus" onclick="addItem('socials[]');"
                           data-toggle="tooltip" data-placement="top"
                           title="{{ 'add more socials'|trans|capitalize }}"></i>
                    </div>
                    <select class="form-control" name="type" id="type">
                        <option>{{ 'select type'|capitalize }}</option>
                        <option name="type" id="type">{{ 'website'|capitalize }}</option>
                        <option name="type" id="type">{{ 'facebook'|capitalize }}</option>
                        <option name="type" id="type">{{ 'twitter'|capitalize }}</option>
                        <option name="type" id="type">{{ 'instagram'|capitalize }}</option>
                    </select>
                    <input class="form-control" name="url" id="url" type="url"
                        {% if contact.socials|default %} value="{{ contact.socials[0].url }}"
                    {% else %}
                        placeholder="{{ 'add url'|trans|capitalize }}"
                        {% endif %}>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="logo">{{ 'logo'|trans|capitalize }}</label>
                    <input type="file" class="form-control" id="logo" name="logo">
                </div>
            </div>
        </div>
        <h2 class="h5">{{ 'address'|trans|capitalize }}</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="street">{{ 'street'|trans|capitalize }}</label>
                    <input type="text" class="form-control" id="street" name="street">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="houseNumber">{{ 'house number'|trans|capitalize }}</label>
                    <input type="number" class="form-control" id="houseNumber" name="houseNumber">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="suffix">{{ 'suffix'|trans|capitalize }}</label>
                    <input type="text" class="form-control" id="suffix" name="suffix">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="postalCode">{{ 'postal code'|trans|capitalize }}</label>
                    <input type="text" class="form-control" id="postalCode" name="postalCode">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="locality">{{ 'locality'|trans|capitalize }}</label>
                    <input type="text" class="form-control" id="locality" name="locality">
                </div>
            </div>
        </div>
    </form>
    <script>
        function addItem(id) {
            const formDiv = document.getElementById(id);
            const input = document.createElement('input');

            input.setAttribute('type', 'text');
            input.setAttribute('class', "form-control mb-2");
            input.setAttribute('name', id);
            input.setAttribute('id', id);

            var options_array = {
                ValueA : '{{ 'select type'|trans|capitalize }}',
                ValueB : '{{ 'website'|trans|capitalize }}',
                ValueC : '{{ 'facebook'|trans|capitalize }}',
                ValueD : '{{ 'twitter'|trans|capitalize }}',
                ValueE : '{{ 'instagram'|trans|capitalize }}'
            };

            const select = document.createElement("select");
            if (id === 'socials[]') {
                select.setAttribute('class', "form-control mb-2");
                input.setAttribute('placeholder', '{{ 'add url'|trans|capitalize }}');
                formDiv.appendChild(select);
                for(option in options_array) {
                    select.options[select.options.length] = new Option(options_array[option], option);
                }
            }

            formDiv.appendChild(input);
        }
    </script>
{% endblock %}
