{% extends "dashboard_organization/modals/modal.html.twig" %}

{% if resource is defined %}
    {% set id = resource['id'] %}
{% else %}
    {% set id = 'Add' %}
{% endif %}
{% set type = 'Mailinglist' %}

{% block body %}
<form id="{{ type }}Form{{ id }}" method="post">
    {% if resource['id'] is defined %}<input type="hidden" id="id" name="id" value="{{ resource['id'] }}">{% endif %}
    <!-- Name -->
    <div class="form-group">
        <label for="name">{{ 'name'|trans|capitalize }} <span style="color: red;"><strong>*</strong></span></label>
        <input class="form-control" name="name" id="name" type="text" placeholder="{{ 'newsletter'|trans|capitalize }}"
        {% if resource.name is defined %}value="{{ resource.name }}{% endif %}" required>
    </div>

    <!-- Description -->
    <div class="form-group">
        <label for="description">{{ 'description'|trans|capitalize }} </label>
        <textarea class="form-control" name="description" id="description"
                  cols="2" rows="1" style="max-height: 8rem; min-height: 3.5rem"
                  placeholder="{{ 'description'|trans|capitalize }}"
        >{% if resource.description is defined %}{{ resource.description }}{% endif %}</textarea>
    </div>
</form>
{% endblock %}
