{% extends "dashboard_organization/modals/modal.html.twig" %}

{% if resource is defined %}
    {% set  id = provider['id'] %}
{% else %}
    {% set  id = 'Add' %}
{% endif %}
{% set  type = 'Provider' %}

{% block body %}
    <form id="{{ type }}Form{{ id }}" method="post"
          action="{{ path('app_dashboardorganization_paymentproviders', {id: id}) }}">
        {% if resource['id'] is defined %}<input type="hidden" id="id" name="id" value="{{ resource['id'] }}">{% endif %}
        {% if resource['@id'] is defined %}<input type="hidden" id="@id" name="@id" value="{{ resource['@id'] }}">{% endif %}
        <input type="hidden" name="@type" value="Provider">

        <div class="form-group">
            <label for="providerInput">{{ 'type'|trans|capitalize }}</label>
            <select class="form-control" id="providerInput" required>
                <option name="provider">{% if provider.type is defined %}{{ provider.type }}{% else %}{{ 'mollie'|trans|capitalize }}{% endif %}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="authorization">{{ 'authorization'|trans|capitalize }}</label>
            <input class="form-control" name="authorization" type="text" id="authorization" {% if provider.authorization is defined %}value="{{ provider.authorization }}"{% endif %}>
        </div>
    </form>
{% endblock %}
