{% if items|default %}
    {% for item in items %}

        {% set likes = commonground_resource_list({'component':'rc','type':'likes'}, {'resource':item['@id']})['hydra:member']|length %}

        <div class="card card-list card-listing" data-lat="-33.922125" data-lag="151.159277" data-id="1">
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <div class="card-list-img">
                        <img class="listing-img" src="https://picsum.photos/370/250" alt="things-4">
                    </div>
                </div>
                <div class="col-md-8 col-xl-9">
                    <div class="card-body p-0">
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <h3 class="card-title listing-title mb-0">
                                <a href="{{ path(pathToSingular, {'id': item.id}) }}">{{ item.name }}</a>
                            </h3>
                            <button class="btn-like px-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Favourite this listing">
                                <i class="fa fa-heart-o text-primary" aria-hidden="true"></i>
                                <span>{{ likes }}</span>
                            </button>
                        </div>
                        <br>
                    </div>
                    <span class="d-block mb-4 listing-address">215 Terry Lane, New York</span>
                    <div class="d-flex align-items-center">
                        <ul class="list-inline list-inline-rating mr-2">
                            <li class="list-inline-item">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                            <li class="list-inline-item">
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </li>
                        </ul>
                        <span class="d-inline-block mr-2" style="color: black">(5 Reviews)</span>
                        <button class="btn-like px-2" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favourite this listing">
                            <i class="fa fa-heart-o text-primary" aria-hidden="true"></i>
                            <span style="color: black">8 k</span>
                        </button>
                    </div>
                    <div>
                        <a href="{{ path(pathToSingular, {'id': item.id}) }}">{{ 'view'|trans|capitalize }}</a>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endif %}
