<form action="{{ path('app_dashboardorganization_events') }}" method="post" id="event">
    <input type="hidden" name="events[priority]" value="9">
    <div class="modal-body">
        <div class="form-group">
            <label for="nameInput">{{ 'name of your event'|trans|capitalize }}</label>
            <input type="text" class="form-control" id="nameInput"
                   {% if item.name|default %}value="{{ item.name|capitalize }}"{% endif %}
                   name="events[name]"
                   required>
        </div>
        <div class="form-group">
            <label for="descriptionInput">{{ 'description'|trans|capitalize }}</label>
            <textarea class="form-control" rows="5" id="descriptionInput"
                      name="events[description]">{% if item.description|default %}{{ item.description }}{% endif %}</textarea>
        </div>

        <br>

        <div class="form-group">
            <label for="organizationInput">{{ 'organization for this event'|trans|capitalize }}</label>
            <select form="event" id="organizationInput" name="events[organization]" class="form-control">
                {% if organizations|length > 0 %}
                    {% for org in organizations %}
                        <option value="{{ org['@id'] }}">{{ org.name }}</option>
                    {% endfor %}
                    {% else %}
                    <option>{{ 'no organizations found'|trans|capitalize }}</option>
                {% endif %}
            </select>
        </div>

        <div class="row col-12">
            <div class="form-group col-6">
                <label for="startdateInput">{{ 'start-date'|trans|capitalize }}</label>
                <input class="form-control" name="events[startDate]" type="datetime-local" id="startdateInput" placeholder="yyyy-mm-dd">
            </div>

            <div class="form-group col-6">
                <label for="enddateInput">{{ 'end-date'|trans|capitalize }}</label>
                <input class="form-control" name="events[endDate]" type="datetime-local" id="enddateInput" placeholder="yyyy-mm-dd">
            </div>
        </div>



    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary"
                data-dismiss="modal">{{ 'close'|trans|capitalize }}</button>
        <button type="submit"
                class="btn btn-primary">{% if item.id|default %}{{ 'save'|trans|capitalize }}{% elseif type|default %}{{ 'add'|trans|capitalize }}{% endif %}</button>
    </div>
</form>
