{% extends "base.html.twig" %}

{% block content %}

    <section class="py-7 py-md-10">
        <div class="container">

            <div class="search-result-bar">
                {% if items|default %}
                    <p>{{ 'we found'|trans|capitalize }} <span>{{ items|length }}</span> {{ 'results for'|trans }}
                        <span>{{ 'organizations'|trans|capitalize }}</span>.</p>
                {% else %}
                    <p>{{ 'no results found'|trans|capitalize }}.</p>
                {% endif %}
                <div class="ml-md-auto d-flex align-items-center justify-content-between">
                    <div class="select-bg-transparent select-border">
                        <div class="selectric-wrapper selectric-select-location">
                            <div class="selectric-hide-select"><select class="select-location" tabindex="-1">
                                    <option>Popular</option>
                                    <option>Nearest</option>
                                    <option>Recent</option>
                                </select></div>
                            <div class="selectric"><span class="label">Popular</span>
                                <div class="arrow-button"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
                            </div>
                            <div class="selectric-items" tabindex="-1">
                                <div class="selectric-scroll">
                                    <ul>
                                        <li data-index="0" class="selected">Popular</li>
                                        <li data-index="1" class="">Nearest</li>
                                        <li data-index="2" class="last">Recent</li>
                                    </ul>
                                </div>
                            </div>
                            <input class="selectric-input" tabindex="0"></div>
                    </div>
                    <div class="icons">
                        <a class="mr-2 active" href="#">
                            <i class="fa fa-th" aria-hidden="true"></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-th-list" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row">

                {% if items|default %}
                    {% for item in items %}

                        <div class="col-md-6 col-lg-4">
                            <div class="card rounded-0 card-hover-overlay">
                                <div class="position-relative">
                                    <img class="card-img rounded-0" src="https://picsum.photos/300/200"
                                         alt="Card image cap" width="300px" height="200px">
                                    <div class="card-img-overlay">
                                        <ul class="list-inline list-inline-rating">
                                            <li class="list-inline-item">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                            <li class="list-inline-item">
                                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <h3>
                                            <a href="{{ path('app_organization_organization', {'id': item.id}) }}">
                                                {{ item.name|capitalize }} <i class="fa fa-check-circle" aria-hidden="true"></i>
                                            </a>
                                        </h3>
                                        <p class="text-white">215 Terry Lane, New York</p>
                                    </div>
                                </div>

                                <div class="card-footer bg-transparent">
                                    <ul class="list-unstyled d-flex mb-0 py-2">
                                        <li>
                                            <button class="btn-like px-2" data-toggle="tooltip" data-placement="top"
                                                    title=""
                                                    data-original-title="Favourite this listing">
                                                <i class="fa fa-heart-o text-primary" aria-hidden="true"></i>
                                                <span>8 k</span>
                                            </button>
                                        </li>
                                        <li class="ml-auto">
                                            <a class="px-2" href="{{ path('app_organization_organization', {'id': item.id}) }}">{{ 'view'|trans|capitalize }}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                {% endif %}


            </div>
            <!-- ====================================
        ———	pagination
        ===================================== -->
            {#            <section class="my-5">#}
            {#                <nav aria-label="Page navigation example">#}
            {#                    <ul class="pagination">#}
            {#                        <li class="page-item mr-2">#}
            {#                            <a class="page-link" href="#">#}
            {#                                <i class="fa fa-angle-left" aria-hidden="true"></i>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                        <li class="page-item active mr-2"><a class="page-link" href="#">1</a></li>#}
            {#                        <li class="page-item mr-2"><a class="page-link" href="#">2</a></li>#}
            {#                        <li class="page-item mr-2"><a class="page-link" href="#">3</a></li>#}
            {#                        <li class="page-item mr-2"><a class="page-link" href="#">4</a></li>#}
            {#                        <li class="page-item mr-2"><a class="page-link" href="#">5</a></li>#}
            {#                        <li class="page-item">#}
            {#                            <a class="page-link" href="#">#}
            {#                                <i class="fa fa-angle-right" aria-hidden="true"></i>#}
            {#                            </a>#}
            {#                        </li>#}
            {#                    </ul>#}
            {#                </nav>#}
            {#            </section>#}

        </div>
    </section>

{% endblock %}
