{% set likes = commonground_resource_list({'component':'rc','type':'likes'}, {'resource':organization['@id']})['hydra:member']|length %}

  {% if app.user|default %}
      {% set isLiked = commonground_resource_list({'component':'rc','type':'likes'}, {'resource':organization['@id'], 'author':app.user.person})['hydra:member'] %}
  {% endif %}

{% set reviews = commonground_resource_list({'component':'rc','type':'reviews'}, {'resource':organization['@id']})['hydra:member'] %}
{% extends "base.html.twig" %}
{% block content %}
<section class="pt-7 pb-4 pt-md-9 pb-md-8">
    <div class="container">
        <div class="row">
            <!--======= Main =======-->
            <div class="col-md-8 col-lg-8">
                <div class="single-listing-content mb-6">
                    <h3 class="font-weight-normal mb-6">{{ 'about'|trans|capitalize }} {{ organization.name }}</h3>
                    <p class="mb-6">
                        {% if organization.description|default %}
                            {{ organization.description }}
                        {% else %}
                            {{ 'no description found'|trans|capitalize }}
                        {% endif %}
                    </p>
                    <!-- contact -->
                    <ul class="list-inline d-flex flex-column flex-lg-row mb-0">
                        {% if contact.telephones is defined and contact.telephones is not empty %}
                            {% for tel in contact.telephones %}
                                <li class="list-inline-item">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                    <span class="ml-2">{{ tel.telephone }}</span>
                                </li>
                            {% endfor %}
                        {% endif %}
                        {% if contact.emails is defined and contact.emails is not empty %}
                            {% for emails in contact.emails %}
                                <li class="list-inline-item">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                    <span class="ml-2">{{ emails.email }}</span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                    <!-- Socials -->
                    <ul class="list-group list-group-horizontal">
                        {# if contact.socials|default %}
                            <ul class="list-unstyled mb-6">
                                    fa fa-{{ socials.type }}{% endif %} mr-2" aria-hidden="true"></i>
                                {% endfor %}
                            </ul>
                        {% endif #}
                    </ul>

                    </div>


                </div><!-- /.col single-listing-content -->
            </div><!-- /.col -->
            <!--======= Sidebar =======-->
            <div class="col-md-5 col-lg-4 pl-xl-8">

            </div><!-- /.col -->
        </div> <!-- /.container -->
    </div> <!-- /.container -->
</section>

{% endblock %}
