{% extends "base.html.twig" %}
{% block content %}
    
    <section class="py-7 pt-md-9 pb-md-8">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1 class="font-weight-normal mb-4 mb-md-0 single-listing-title">{{ item.name }}</h1>
                </div>
                <div class="col-3 float-right">
                    <!-- Breadcrumb -->
                    <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-1" aria-label="breadcrumb">
                        <ul class="list-unstyled d-flex p-0 m-0">
                            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">Home</a></li>
                            <li class="breadcrumb-item"><a
                                    href="{{ path('app_organization_index') }}">{{ 'organizations'|trans|capitalize }}</a>
                            </li>
                            <li class="breadcrumb-item active"
                                aria-current="page">{{ item.name }}</li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="mb-2 mb-lg-0">
                        {% if item.emails.0.email|default %}
                            <p class="text-muted mb-1"><i
                                    class="fa fa-mail-forward text-primary mr-1"></i>{{ item.emails.0.email }}
                            </p>
                        {% endif %}
                        {% if item.phonenumbers.0.phonenumber|default %}
                            <p class="text-muted mb-1"><i
                                    class="fa fa-phone text-primary mr-1"></i> {{ item.phonenumbers.0.phonenumber }}
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="pb-4  pb-md-8">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <!-- About -->
                    <div class="single-listing-content mb-6">
                        {% if item.description|default %}
                            <h3 class="font-weight-normal mb-6">{{ 'about this'|trans|capitalize~' '~'organization'|trans }}</h3>
                            <p class="mb-6">{{ item.description }}
                        {% else %}
                            <p>{{ 'no description found'|trans|capitalize }}.</p>
                        {% endif %}
                    </div>
                    <hr>
                    <h3 class="mb-4 font-weight-normal">{{ 'events from this organization'|trans|capitalize }}</h3>
                    <!-- events from this organization  -->
                    {% include 'widgets/you_may_like.html.twig' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
