{% set likes = commonground_resource_list({'component':'rc','type':'likes'}, {'resource':organization['@id']})['hydra:member']|length %}

  {% if app.user|default %}
      {% set isLiked = commonground_resource_list({'component':'rc','type':'likes'}, {'resource':organization['@id'], 'author':app.user.person})['hydra:member'] %}
  {% endif %}

{% set reviews = commonground_resource_list({'component':'rc','type':'reviews'}, {'resource':organization['@id']})['hydra:member'] %}
{% set features = commonground_resource_list({'component':'wrc','type':'categories'}, {'parent.name': 'features'})['hydra:member'] %}
{% extends "base.html.twig" %}
{% block content %}

    <!-- ====================================
    ———	LISTING SINGLE HEADING
    ===================================== -->
    <section class="py-7 pt-md-9 pb-md-8">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="mb-2 mb-lg-0">
                        <h1 class="single-listing-title">{{ organization.name }}</h1>

                        <!-- Breadcrumb -->
                        <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-1" aria-label="breadcrumb">
                            <ul class="list-unstyled d-flex p-0 m-0">
                                <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">Home</a></li>
                                <li class="breadcrumb-item"><a
                                        href="{{ path('app_organization_index') }}">{{ 'organizations'|trans|capitalize }}</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">{{ organization.name }}</li>
                            </ul>
                        </nav>

                        <!-- Ratings -->
                        <div class="d-flex align-items-center">
                            {% include 'widgets/rating.html.twig' with {'rating':totals.rating} %}
                            <span
                                class="d-inline-block mr-2">{{ totals.rating|round(1) }} ({{ totals.reviews }} {{ 'reviews'|trans|capitalize }})</span>
                            <a href="#" onclick="likeItem('{{ organization['id'] }}','{{ organization['@id'] }}','{{ organization['@id'] }}', this)"
                               liked="{% if totals.liked|default %}true{% else %}false{% endif %}"
                               data-toggle="tooltip"
                               data-placement="top"
                               title=""
                               data-original-title="{{ 'favorite this organization'|trans|capitalize }}"><i {% if totals.liked|default %} class="fas fa-heart text-primary" {% else %}class="fal fa-heart text-primary" {% endif %}
                                    aria-hidden="true" id="icon_{{ organization['id'] }}"></i>
                                <span id="counter_{{ organization['id'] }}">{{ totals.likes }}</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 pl-8">
                    {% if subscriptions|default %}
                        <a href="#subscriptions" class="btn btn-primary">{{ 'become a member'|trans|capitalize }}</a>
                    {% elseif tickets|default %}
                        <a href="#tickets" class="btn btn-primary">{{ 'buy a ticket'|trans|capitalize }}</a>
                    {% elseif products|default %}
                        <a href="#products" class="btn btn-primary">{{ 'buy a product'|trans|capitalize }}</a>
                    {% endif %}
                </div><!--/.col -->
            </div><!-- /.row -->
        </div><!--/.container -->
    </section>

    <section>
            {% include 'widgets/carousel.html.twig' with {'carouselOrganization': organization} %}
    </section>

    <!-- ====================================
    ———	MAIN CONTENT
    ===================================== -->
    <section class="pt-7 pb-4 pt-md-9 pb-md-8">
        <div class="container">
            <div class="row">
                <!--======= Main =======-->
                <div class="col-md-8 col-lg-8 single-listing-content">
                    <!-- About -->
                    {% if organization.description|default %}
                        <div class="fade-in">
                            <h3 class="font-weight-normal mb-6">{{ 'about'|trans|capitalize }}  {% if organization.name|default %}{{ organization.name }}{% endif %}</h3>
                            <p class="mb-6">{{ organization.description|raw }}</p>
                        </div>

                        <hr>
                    {% endif %}

                    <!-- Catagories -->
                    {% if categories is defined and categories is not empty %}
                        <div class="fade-in">
                            <h3 class="font-weight-normal mb-6">{{ 'catagories'|trans|capitalize }} {{ organization.name }}</h3>
                            {% include '/sections/categories.html.twig' with {'categories': categories} %}
                        </div>
                        <hr>
                    {% endif %}


                    <!-- Events -->
                    {% if events is defined and events is not empty %}
                        <div class="fade-in" id="events">
                            <h3 class="font-weight-normal mb-6">{{ 'events'|trans|capitalize }}</h3>
                            <div class="row row-cols-1 row-cols-xl-2">
                                {% for event in events %}
                                    <div class="col-12 col-xl-6" id="organization">
                                        {% include '/cards/event.html.twig' with {'item': event, 'maxHeightImage': 238, 'maxWidthImage': 358, 'minHeightCard': 306, 'minWidthCard': 360} %}
                                    </div>
                                {% endfor %}
                            </div><!-- /.row -->
                        </div>

                        <hr>
                    {% endif %}

                    <!-- Tickets -->
                    {% if tickets is defined and tickets is not empty %}
                        <div class="fade-in" id="tickets">
                            <h3 class="font-weight-normal mb-6">{{ 'tickets'|trans|capitalize }}</h3>
                            <div class="row row-cols-1 row-cols-xl-2">
                                {% for offer in tickets %}
                                    <div class="col-12 col-xl-6" id="organization">
                                        {% include 'cards/offer.html.twig'  with {'item': offer, 'maxHeightImage': 238, 'maxWidthImage': 358, 'minHeightCard': 306, 'minWidthCard': 360} %}
                                    </div>
                                {% endfor %}
                            </div><!-- /.row -->
                        </div>

                        <hr>
                    {% endif %}

                    <!-- Subscriptions -->
                    {% if subscriptions is defined and subscriptions is not empty %}
                        <div class="fade-in" id="subscriptions">
                            <h3 class="font-weight-normal mb-6">{{ 'subscriptions'|trans|capitalize }}</h3>
                            <div class="row row-cols-1 row-cols-xl-2">
                                {% for offer in subscriptions %}
                                    <div class="col-12 col-xl-6" id="organization">
                                        {% include 'cards/offer.html.twig'  with {'item': offer, 'maxHeightImage': 238, 'maxWidthImage': 358, 'minHeightCard': 306, 'minWidthCard': 360} %}
                                    </div>
                                {% endfor %}
                            </div><!-- /.row -->
                        </div>

                        <hr>
                    {% endif %}

                    <!-- Products -->
                    {% if products is defined and products is not empty %}
                        <div id="gridFullwidthDiv" class="fade-in" id="products">
                            <h3 class="font-weight-normal mb-6">{{ 'products'|trans|capitalize }}</h3>
                            <div class="row row-cols-1 row-cols-xl-2">
                                {% for offer in products %}
                                    <div class="col-12 col-xl-6" id="organization">
                                        {% include 'cards/offer.html.twig'  with {'item': offer, 'maxHeightImage': 238, 'maxWidthImage': 358, 'minHeightCard': 306, 'minWidthCard': 360} %}
                                    </div>
                                {% endfor %}
                            </div><!-- /.row -->
                        </div>

                        <hr>
                    {% endif %}

                    <!-- Reviews -->
                    <a id="reviews">
                    {% if reviews is defined and reviews is not empty %}
                        <div class="fade-in">
                            <h3 class="font-weight-normal mb-6">{{ totals.reviews }} {{ 'reviews'|trans|capitalize }}</h3>
                            {% include '/sections/reviews.html.twig' %}
                        </div>

                        <hr>
                    {% endif %}

                    <!-- Add a review -->
                    <div id="add-review" class="fade-in">
                        <h3 class="font-weight-normal mb-6">{{ 'add a review'|trans|capitalize }}</h3>
                        {% include '/sections/review.html.twig' with {'item': organization} %}
                    </div>
                </div><!-- /.col -->

                <!--======= Sidebar =======-->
                <div class="col-md-5 col-lg-4 pl-xl-8">
                    <!-- Contact  -->
                    <h5>{{ 'contact'|trans|capitalize }} {{ organization.name }}</h5>

                    {% include 'widgets/contact_details.html.twig' %}

                    {% include 'widgets/contact_form.html.twig' %}

                    <!-- You may also like  -->
                    {% if categories is defined and categories is not empty %}
                        <h5>{{ 'categories you might like'|trans|capitalize }}</h5>
                        {% for category in categories %}
                            {% include 'cards/category.html.twig' with {
                                'item': category
                            } %}
                        {% endfor %}

                    {% endif %}
                </div><!-- /.col -->
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </section>

{% endblock %}
