{% if app.user %}
    <form class="mb-5" action="{{ path('app_default_contact') }}" method="post">
        <input type="hidden" name="return"
               value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
        <input type="hidden" name="receiver" value="{{ organization['@id'] }}">
        <input type="hidden" name="channel" value="web-form">
        <div class="card">
            <div class="card-body px-6 pt-6 pb-1">
                <div class="row">
                    <div class="form-group col-md-12 mb-6">
                        <label for="name">{{ 'topic'|trans|capitalize }}</label>
                        <input type="text" class="form-control" name="topic">
                    </div>

                    <div class="form-group col-md-12 mb-6">
                        <label for="name">{{ 'description'|trans|capitalize }}</label>
                        <textarea class="form-control" name="message" rows="8"></textarea>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-group mb-6">
            <button type="submit" class="btn btn-outline-primary btn-block">{{ 'submit message'|trans|capitalize }}</button>
        </div>
    </form>

{% else %}
    <div>
        <a class="mt-2 text-center text-white" href="{{ path('app_user_idvault') }}">
            <button class="btn btn-primary btn-block">
                {{ 'login to contact organizer'|trans|capitalize }}
            </button>
        </a>
    </div>
{% endif %}
