{% for event in events %}
<div class="position-relative">
    <img class="card-img rounded-0" src="https://picsum.photos/200"
         alt="Card image cap" style="width: 200px; height: 200px;">
    <div class="card-img-overlay" style="text-align: justify; padding-left: 50%">
            <h3>
                <a href="{{ path('app_event_index') }}" style="color: black">{{ event.name }}</a>
            </h3>
            <p class="text-black">
                {{ event.name }} <br>
            {{ event.location }} <br>
           {{ event.startDate }} <br>
            <ul class="list-inline list-inline-rating">
                <li class="list-inline-item">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </li>
                <li class="list-inline-item">
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </li>
            </ul>
            <button class="btn-like px-2" data-toggle="tooltip" data-placement="top"
                    title=""
                    data-original-title="Favourite this listing">
                <i class="fa fa-heart-o text-primary" aria-hidden="true"></i>
            </button>
        {% endfor %}
    </div>
</div>
<hr>



