{% extends "base.html.twig" %}

{% block content %}
            <section class="pb-8 pt-5 bg-light height100vh">
                <div class="container">

                    <!-- Title -->
                    <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-5" aria-label="breadcrumb">
                        <h2 class="font-weight-normal mb-4 mb-md-0">{{ 'shopping cart'|trans|capitalize }}</h2>
                    </nav>

                    <!-- Order -->
                    <div id="my-booking_wrapper" class="dataTables_wrapper no-footer">
                        <table id="my-booking"
                               class="display nowrap table-data-default dataTable no-footer dtr-inline mb-4"
                               style="width: 100%;" role="grid">
                            {% if order|default and order.items|default and order.items|length > 0 %}
                                <thead>
                                <tr role="row">
                                    <th class="sorting" tabindex="0" aria-controls="my-booking" rowspan="1" colspan="1"
                                        style="width: 188px;" aria-label="Listing: activate to sort column ascending">
                                        {{ 'name'|trans|capitalize }}
                                    </th>
                                    <th class="sorting  text-center" tabindex="0" aria-controls="my-booking" rowspan="1"
                                        colspan="1"
                                        style="width: 95px;" aria-label="Type: activate to sort column ascending">
                                        {{ 'quantity'|trans|capitalize }}
                                    </th>
                                    <th class="sorting_asc text-center" tabindex="0" aria-controls="my-booking"
                                        rowspan="1"
                                        colspan="1"
                                        style="width: 167px;" aria-sort="ascending"
                                        aria-label="Requested Time: activate to sort column descending">
                                        {{ 'price'|trans|capitalize }}
                                    </th>
                                    <th data-priority="2" class="sorting_disabled" rowspan="1" colspan="1"
                                        style="width: 36px;" aria-label=""></th>
                                </tr>
                                </thead>
                            {% endif %}
                            <tbody>
                            {% if order.items|default and order.items > 0 %}
                                {% set sum = 0 %}
                                {% for item in order.items %}
                                    {% set offer = commonground_resource(item.offer) %}
                                    <tr role="row" class="odd">
                                        <td class="text-capitalize">
                                            <a class="text-hover-primary text-muted"
                                               href="{% if item.path|default %}{{ item.path }}{% endif %}">{{ offer.name|capitalize }}</a>
                                        </td>
                                        <td class="text-capitalize text-center">
                                            {% if item.price|default %}
                                                {{ item.quantity }}
                                            {% endif %}</td>
                                        <td class=" text-center">
                                            <div></div>
                                            {% if item.price|default %}
                                                &euro; {{ item.price }},-
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="dropdown-toggle icon-burger-mini" href="#" role="button"
                                                   id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                                   aria-expanded="false" data-display="static">
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                     aria-labelledby="dropdownMenuLink">
{#                                                    <a class="dropdown-item"#}
{#                                                       href="{{ path('app_order_removeitem', {id: item.id}) }}"#}
{#                                                       style="color: darkred">{{ 'remove'|trans|capitalize }}</a>#}
                                                    <a class="dropdown-item"
                                                       href="{% if item.path|default %}{{ item.path }}{% endif %}">{{ 'view'|trans|capitalize }}</a>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    {% set sum = sum + (item.price * item.quantity) %}
                                {% endfor %}
                                <tr role="row" class="odd">
                                    <td>
                                        <b>{{ 'sum'|trans|capitalize }}:</b>
                                    </td>
                                    <td>
                                    </td>
                                    <td class="text-center pt-0">
                                        <div class="text-center pt-4 mx-auto"
                                             style="width: 50%;border-top: 1px solid grey">
                                            <b>&euro; {{ sum }},-</b>
                                        </div>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            {% else %}
                                <tr role="row" class="odd">
                                    <td class="text-capitalize" style="color: grey">
                                        {{ 'your shopping cart is empty'|trans|capitalize }}
                                    </td>
                                    <td class="text-capitalize"></td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            {% endif %}
                            </tbody>
                        </table>

                        <div class="row justify-content-center">
                            <div class="col-md-7 col-lg-6 col-xl-5">
                                <div class="mb-6">
{#                                    {% if app.user|default and order|default and order.items|default and order.items|length > 0 %}#}
                                        <form action="{{ path('app_order_index') }}" method="post">
                                            <div class="form-group mb-3 text-center">
                                                <label for="remarksTextarea">{{ 'remarks'|trans|capitalize }}</label>
                                                <textarea id="remarksTextarea" name="remarks" class="form-control"
                                                          rows="3" placeholder="{{ 'something you want us to know'|trans|capitalize }}..">{% if order.remark|default %}{{ order.remark }}{% endif %}</textarea>
                                            </div>

                                            <div class="form-group mb-3 text-center">
                                                <div class="checkbox">
                                                    <label>
                                                        <input required type="checkbox">
                                                        I agree to the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy
                                                            Policy</a>.
                                                    </label>
                                                </div>
                                            </div>
                                            <button type="submit" name="makeOrder" value="true"
                                                    class="btn btn-lg btn-primary btn-block">{{ 'pay'|trans|capitalize }}</button>
                                        </form>
{#                                {% elseif not app.user|default %}#}
{#                                        <a href="{{ path('app_user_idvault', {'backUrl':path(app.request.attributes.get('_route'),#}
{#                                            app.request.attributes.get('_route_params'))}) }}"#}
{#                                           class="btn btn-lg btn-primary btn-block mb-2">{{ 'login'|trans|capitalize }}</a>#}
{#                                        <p style="color: grey"#}
{#                                           class="text-center">{{ 'you have to be logged in to continue'|trans|capitalize }}</p>#}
{#                                    {% endif %}#}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>
{% endblock %}
