{% extends "base.html.twig" %}

{% block content %}

    {% if event.organization|default %}
        {% set organization = commonground_resource(event.organization) %}
    {% endif %}

    <section class="py-7 pt-md-9 pb-md-8 ">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="mb-2 mb-lg-0">
                        <h1 class="single-listing-title">{{ event.name }}</h1>

                        <!-- Breadcrumb -->
                        <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-1" aria-label="breadcrumb">
                            <ul class="list-unstyled d-flex p-0 m-0">
                                <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">Home</a></li>
                                <li class="breadcrumb-item"><a
                                        href="{{ path('app_event_index') }}">{{ 'events'|trans|capitalize }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
                            </ul>
                        </nav>

                        <!-- Ratings -->
                        <div class="d-flex align-items-center">
                            {% include 'widgets/rating.html.twig' with {'rating':totals.rating} %}
                            <span
                                class="d-inline-block mr-2">{{ totals.rating|round(1) }} ({{ totals.reviews }} {{ 'reviews'|trans|capitalize }})</span>
                            <a href="#" onclick="likeItem('{{ event['id'] }}','{{ event['@id'] }}','{{ event['organization'] }}', this)"
                               liked="{% if totals.liked|default %}true{% else %}false{% endif %}"
                               data-toggle="tooltip"
                               data-placement="top"
                               title=""
                               data-original-title="Favourite this event"><i {% if totals.liked|default %} class="fas fa-heart text-primary" {% else %}class="fal fa-heart text-primary" {% endif %}
                                    aria-hidden="true" id="icon_{{ event['id'] }}"></i>
                                <span id="counter_{{ event['id'] }}">{{ totals.likes }}</span></a>
                        </div>

                        <div class="d-flex align-items-center">
                            <ul class="list-inline mr-2">
                                {% if event.startDate|default %}
                                    <li class="list-inline-item">
                                        {{ 'startdate'|trans|capitalize }}: {{ event.startDate|date("d-m-Y") }}
                                    </li><br>
                                {% endif %}
                                {% if event.endDate|default %}
                                    <li class="list-inline-item">
                                        {{ 'enddate'|trans|capitalize }}: {{ event.endDate|date("d-m-Y") }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div> <!--/.col -->
                <div class="col-lg-4 pl-8">
                {% if tickets|default %}
                    <a href="#tickets" class="btn btn-primary">{{ 'buy a ticket'|trans|capitalize }}</a>
                {% elseif products|default %}
                    <a href="#products" class="btn btn-primary">{{ 'buy a product'|trans|capitalize }}</a>
                {% endif %}
                </div><!--/.col -->
            </div><!-- /.row -->
        </div><!--/.container -->
    </section>

    <section>
        {% include 'widgets/carusel.html.twig' %}
    </section>
    <!-- ====================================
    ———	MAIN CONTENT
    ===================================== -->
    <section class="pt-7 pb-4 pt-md-9 pb-md-8">
        <div class="container">
            <div class="row">
                <!--======= Main =======-->
                <div class="col-md-8 col-lg-8 single-listing-content">
                    <!-- About -->
                    {% if event.description|default %}
                    <div class="single-listing-content mb-6">
                        <h3 class="font-weight-normal mb-6">{{ 'about'|trans|capitalize }}  {% if event.name|default %}{{ event.name }}{% endif %}</h3>
                        <p class="mb-6">{{ event.description }}</p>
                    </div>

                    <hr>
                    {% endif %}

                    <!-- Catagories -->
                    {% if categories is defined and categories is not empty %}
                    <div>
                        <h3 class="font-weight-normal mb-6">{{ 'settings'|trans|capitalize }}</h3>
                        {% include '/sections/categories.html.twig' with {'categories': categories} %}
                    </div>

                    <hr>
                    {% endif %}

                    <!-- Tickets -->
                    {% if tickets is defined and tickets is not empty %}
                    <div id="gridFullwidthDiv" class="fade-in" id="tickets">
                        <h3 class="font-weight-normal mb-6">{{ 'tickets'|trans|capitalize }}</h3>
                        <div class="row">
                            {% for offer in tickets %}
                                <div class="col-md-6" id="organization">
                                    {%  include 'cards/offer.html.twig'  with {'item': offer}  %}
                                </div>
                            {% endfor %}
                        </div><!-- /.row -->
                    </div>
                    {% endif %}

                    <!-- Products -->
                    {% if products is defined and products is not empty %}
                    <div id="gridFullwidthDiv" class="fade-in" id="products">
                        <h3 class="font-weight-normal mb-6">{{ 'products'|trans|capitalize }}</h3>
                        <div class="row">
                            {% for offer in products %}
                                <div class="col-md-6" id="organization">
                                    {%  include 'cards/offer.html.twig'  with {'item': offer}  %}
                                </div>
                            {% endfor %}
                        </div><!-- /.row -->
                    </div>
                    {% endif %}

                        <!-- Added by -->
                        <div>
                            <h3 class="font-weight-normal mb-6">{{ 'organized by'|trans|capitalize }}</h3>
                            <div class="media mb-7">
                                {% if organization.style.favicon.base64|default %}
                                    <div class="media-img">
                                        <img src="
                                {{ organization.style.favicon.base64 }}"
                                             class="mr-3 media-object rounded-circle" alt="Image User">
                                    </div>
                                {% endif %}
                                {% if organization|default %}
                                    <div class="media-body">
                                        <h5 class="media-heading">{{ organization.name }}</h5>
                                        <p>{{ organization.description }}</p>
                                        <div class="d-flex flex-column flex-lg-row align-items-lg-center">
                                            {% if contact is defined and contact is not empty %}
                                                <ul class="list-inline d-flex flex-column flex-lg-row mb-0">
                                                    {% if contact.telephones is not empty and contact.emails is not empty %}
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                                            <span class="ml-2">
                                                {{ contact.telephones[0].telephone }}</span>
                                                        </li>
                                                        <li class="list-inline-item">
                                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                                            <span class="ml-2">{{ contact.emails[0].email }}</span>
                                                        </li>
                                                    {% else %}
                                                        <li class="list-inline-item">
                                                            {{ "contact info not found"|trans|capitalize }}
                                                        </li>
                                                    {% endif %}

                                                </ul>
                                            {% else %}
                                                <ul class="list-inline d-flex flex-column flex-lg-row mb-0">
                                                    <li class="list-inline-item">
                                                        {{ "contact info not found"|trans|capitalize }}
                                                    </li>
                                                </ul>
                                            {% endif %}

                                            {% if contact.socials is defined and contact.socials is not empty %}
                                                {% set socials = contact.socials %}
                                                <ul class="list-inline list-inline-icon ml-lg-auto">
                                                    <li class="list-inline-item">
                                                        <a class="mr-2" href="{{ socials.facebook }}">
                                                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="mr-2" href="{{ socials.twitter }}">
                                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="mr-2" href="{{ socials.instagram }}">
                                                            <i class="fa fa-instagram" aria-hidden="true"></i>
                                                        </a>
                                                    </li>

                                                </ul>
                                            {% else %}
                                                <ul class="list-inline list-inline-icon ml-lg-auto">
                                                    <li class="list-inline-item">
                                                        {{ 'no socials found'|trans|capitalize }}
                                                    </li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <hr>
                        </div>

                        <!-- Reviews -->
                        <a id="reviews">
                        {% if reviews is defined and reviews is not empty %}
                            <div>
                                <h3 class="font-weight-normal mb-6">({{ totals.reviews }}) {{ 'reviews'|trans|capitalize }}</h3>
                                {% include '/sections/reviews.html.twig' %}
                            </div>

                            <hr>
                        {% endif %}

                        <!-- Add a review -->
                        <div id="add-review">
                            <h3 class="font-weight-normal mb-6">{{ 'add a review'|trans|capitalize }}</h3>
                            {% include '/sections/review.html.twig' with {'item': event} %}
                        </div>

                    </div>


                    <!--======= Sidebar =======-->
                    <div class="col-md-5 col-lg-4 pl-xl-8">
                        <!-- Single listing Map -->
                        {% include 'widgets/map.html.twig' %}

                        <!-- Contact  -->
                        <h5>{{ 'contact'|trans|capitalize }}</h5>
                        {% include 'widgets/contact_form.html.twig' %}

                        <!-- You may also like  -->
                        <h5>{{ 'other events you might like'|trans|capitalize }}</h5>
                        {% for event in events %}
                            {% include '/cards/event.html.twig' with {'item': event} %}
                        {% endfor %}
                    </div>

                </div>
            </div>
    </section>

{% endblock %}
