{% extends "base.html.twig" %}

{% block content %}

    {% if event.organization|default %}
        {% set organization = commonground_resource(event.organization) %}
    {% endif %}

    {% set today = date("now") %}

    <section class="py-7 pt-md-9 pb-md-8 ">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="mb-2 mb-lg-0">
                        <h1 class="single-listing-title">{{ event.name }}</h1>

                        <!-- Breadcrumb -->
                        <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-1" aria-label="breadcrumb">
                            <ul class="list-unstyled d-flex p-0 m-0">
                                <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">Home</a></li>
                                <li class="breadcrumb-item"><a
                                        href="{{ path('app_event_index') }}">{{ 'events'|trans|capitalize }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
                                {% if event.endDate|default and event.endDate|date("Y-m-d H:i:s") > today|date("Y-m-d H:i:s") %}
                                <li>
                                    &nbsp;
                                    <a href="#" onclick="likeItem('{{ event['id'] }}','{{ event['@id'] }}','{{ event['organization'] }}', this)"
                                       liked="{% if totals.liked|default %}true{% else %}false{% endif %}"
                                       data-toggle="tooltip" data-placement="top" title=""
                                       data-original-title="{{ 'favorite this event'|trans|capitalize }}"><i {% if totals.liked|default %} class="fas fa-heart text-primary" {% else %}class="fal fa-heart text-primary" {% endif %}
                                            aria-hidden="true" id="icon_{{ event['id'] }}"></i>
                                        <span id="counter_{{ event['id'] }}">{{ totals.likes }}</span></a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>

                        <!-- Ratings -->
                        <div class="d-flex align-items-center">
                            {% if event.endDate|default and event.endDate|date("Y-m-d H:i:s") < today|date("Y-m-d H:i:s") %}
                                {% include 'widgets/rating.html.twig' with {'rating':totals.rating} %}
                                <span class="d-inline-block mr-2">{{ totals.rating|round(1) }} ({{ totals.reviews }} {{ 'reviews'|trans|capitalize }})</span>

                                <a href="#" onclick="likeItem('{{ event['id'] }}','{{ event['@id'] }}','{{ event['organization'] }}', this)"
                                   liked="{% if totals.liked|default %}true{% else %}false{% endif %}"
                                   data-toggle="tooltip"
                                   data-placement="top"
                                   title=""
                                   data-original-title="{{ 'favorite this event'|trans|capitalize }}"><i {% if totals.liked|default %} class="fas fa-heart text-primary" {% else %}class="fal fa-heart text-primary" {% endif %}
                                        aria-hidden="true" id="icon_{{ event['id'] }}"></i>
                                    <span id="counter_{{ event['id'] }}">{{ totals.likes }}</span></a>
                            {% endif %}
                        </div>

                        <div class="d-flex align-items-center">
                            <ul class="list-inline mr-2">
                                {% if event.startDate|default %}
                                    <li class="list-inline-item">
                                        {{ 'startdate'|trans|capitalize }}: {{ event.startDate|date("d-m-Y", "Europe/Paris") }}
                                    </li><br>
                                {% endif %}
                                {% if event.endDate|default %}
                                    <li class="list-inline-item">
                                        {{ 'enddate'|trans|capitalize }}: {{ event.endDate|date("d-m-Y", "Europe/Paris") }}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div> <!--/.col -->
                <div class="col-lg-4 pl-8">
                {% if tickets|default %}
                    <a href="#tickets" class="btn btn-primary">{{ 'buy a ticket'|trans|capitalize }}</a>
                {% elseif products|default %}
                    <a href="#products" class="btn btn-primary">{{ 'buy a product'|trans|capitalize }}</a>
                {% endif %}
                </div><!--/.col -->
            </div><!-- /.row -->
        </div><!--/.container -->
    </section>

    <section>
        {% include 'widgets/carusel.html.twig' %}
    </section>
    <!-- ====================================
    ———	MAIN CONTENT
    ===================================== -->
    <section class="pt-7 pb-4 pt-md-9 pb-md-8">
        <div class="container">
            <div class="row">

                <!--======= Main =======-->
                <div class="col-md-8 col-lg-8 single-listing-content">
                    <!-- About -->
                    {% if event.description|default %}
                    <div class="single-listing-content mb-6">
                        <h3 class="font-weight-normal mb-6">{{ 'about'|trans|capitalize }}  {% if event.name|default %}{{ event.name }}{% endif %}</h3>
                        <p class="mb-6">{{ event.description|raw }}</p>
                    </div>

                    <hr>
                    {% endif %}

                    <!-- Catagories -->
                    {% if categories is defined and categories is not empty %}
                    <div>
                        <h3 class="font-weight-normal mb-6">{{ 'categories'|trans|capitalize }}</h3>
                        {% include '/sections/categories.html.twig' with {'categories': categories} %}
                    </div>

                    <hr>
                    {% endif %}

                    <!-- Tickets -->
                    {% if tickets is defined and tickets is not empty %}
                    <div id="gridFullwidthDiv" class="fade-in">
                        <h3 class="font-weight-normal mb-6">{{ 'tickets'|trans|capitalize }}</h3>
                        <div class="row row-cols-1 row-cols-xl-2" id="tickets">
                            {% for offer in tickets %}
                                <div class="col-12 col-xl-6" id="organization">
                                    {%  include 'cards/offer.html.twig'  with {'item': offer, 'maxHeightImage': 238, 'maxWidthImage': 358, 'minHeightCard': 306, 'minWidthCard': 360}  %}
                                </div>
                            {% endfor %}
                        </div><!-- /.row -->
                    </div>
                    {% endif %}

                    <!-- Subscriptions -->
                    {% if subscriptions is defined and subscriptions is not empty %}
                    <div id="gridFullwidthDiv" class="fade-in">
                        <h3 class="font-weight-normal mb-6">{{ 'subscriptions'|trans|capitalize }}</h3>
                        <div class="row row-cols-1 row-cols-xl-2" id="tickets">
                            {% for offer in subscriptions %}
                                <div class="col-12 col-xl-6" id="organization">
                                    {%  include 'cards/offer.html.twig'  with {'item': offer, 'maxHeightImage': 238, 'maxWidthImage': 358, 'minHeightCard': 306, 'minWidthCard': 360}  %}
                                </div>
                            {% endfor %}
                        </div><!-- /.row -->
                    </div>
                    {% endif %}

                    <!-- Products -->
                    {% if products is defined and products is not empty %}
                    <div id="gridFullwidthDiv" class="fade-in" id="products">
                        <h3 class="font-weight-normal mb-6">{{ 'products'|trans|capitalize }}</h3>
                        <div class="row row-cols-1 row-cols-xl-2">
                            {% for offer in products %}
                                <div class="col-12 col-xl-6" id="organization">
                                    {%  include 'cards/offer.html.twig'  with {'item': offer, 'maxHeightImage': 238, 'maxWidthImage': 358, 'minHeightCard': 306, 'minWidthCard': 360}  %}
                                </div>
                            {% endfor %}
                        </div><!-- /.row -->
                    </div>

                    <hr>
                    {% endif %}


                    <!-- Reviews -->
                    {% if reviews is defined and reviews is not empty %}
                    <div>
                        <h3 class="font-weight-normal mb-6">({{ totals.reviews }}) {{ 'reviews'|trans|capitalize }}</h3>
                        {% include '/sections/reviews.html.twig' %}
                    </div>

                    <hr>
                    {% endif %}

                    {% if event.endDate|default and event.endDate|date("Y-m-d H:i:s") < today|date("Y-m-d H:i:s") %}
                        <!-- Add a review -->
                        <div id="add-review">
                            <h3 class="font-weight-normal mb-6">{{ 'add a review'|trans|capitalize }}</h3>
                            {% include '/sections/review.html.twig' with {'item': event} %}
                        </div>
                    {% endif %}
                </div><!-- /.col -->


                    <!--======= Sidebar =======-->
                    <div class="col-md-5 col-lg-4 pl-xl-8">
                        <!-- Single listing Map -->
                        {% if event.location|default %}
                            {% set location = commonground_resource(event.location) %}
                            {% if location.address.street|default %}
                                {% include 'widgets/map.html.twig' with {'location': location} %}
                            {% endif %}
                            <hr>
                        {% endif %}


                        <!-- Contact  -->
                        <h5 class="mb-4">{{ 'by'|trans|capitalize }} {{ organization.name }}</h5>
                        {% include 'widgets/contact_details.html.twig' with {'contact': commonground_resource(organization.contact)} %}

                        {% include 'widgets/contact_form.html.twig' %}

                        <hr>

                        <!-- You may also like  -->
                        <h5 class="mb-4">{{ 'other events you might like'|trans|capitalize }}</h5>
                        {% for event in events|slice(0,3) %}
                            {% include '/cards/event.html.twig' with {'item': event, 'maxHeightImage': 215, 'maxWidthImage': 323, 'minHeightCard': 283, 'minWidthCard': 325} %}
                        {% endfor %}
                    </div>

                </div>
            </div>
    </section>

{% endblock %}
