{% extends "base.html.twig" %}

{% block content %}

    <section class="py-7 py-md-10">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h1 class="font-weight-normal mb-4 mb-md-0 single-listing-title">{{ 'events'|trans|capitalize }}</h1>
                </div><!-- /.col -->
                <div class="col-3">
                    <!-- Breadcrumb -->
                    <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-1" aria-label="breadcrumb">
                        <ul class="list-unstyled d-flex p-0 m-0">
                            <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">Home</a></li>
                            <li class="breadcrumb-item active">{{ 'events'|trans|capitalize }} </li>
                        </ul>
                    </nav>
                </div><!-- /.col -->
            </div><!-- /.row -->

            <!-- header -->
            <div class="row">
                <div class="col-9">

                    <!-- search bar -->
                    <form method="get" action="{{ path('app_event_index', {"categories":categories,"search":search}) }}" id="eventSortingForm">
                          <div class="search-result-bar">
                                {% if events|default %}
                                    <p>{{ 'we found'|trans|capitalize }}
                                        <span>{{ events|length }}</span> {{ 'results for'|trans }}
                                        <span>{{ 'events'|trans|capitalize }}</span>.</p>
                                {% else %}
                                    <p>{{ 'no results found'|trans|capitalize }}.</p>
                                {% endif %}
                                    <div class="ml-md-auto d-flex align-items-center justify-content-between">
                                        <div class="select-bg-transparent select-border">
                                            <div class="selectric-wrapper selectric-select-location">
                                                <div class="selectric-select">
                                                    <select class="select-location" style="text-align: center" name="sorting_order" onchange="javascript:document.getElementById('eventSortingForm').submit();">
                                                        <option value="likes-asc"  {% if sorting is defined  and sorting == "likes-asc"%} selected {% endif %}>{{ 'likes, >'|trans|capitalize }}</option>
                                                        <option value="likes-desc" {% if sorting is defined  and sorting == "likes-desc"%} selected {% endif %}><i class="fal fa-sort-down"></i> {{ 'likes, <'|trans|capitalize }}</option>
                                                        <option value="rating-asc" {% if sorting is defined  and sorting == "rating-asc"%} selected {% endif %}>&#xf0de; {{ 'rating, >'|trans|capitalize }}</option>
                                                        <option value="rating-desc" {% if sorting is defined  and sorting == "rating-desc"%} selected {% endif %}>&#xf0dd; {{ 'rating, <'|trans|capitalize }}</option>
                                                        <option value="name-asc" {% if sorting is defined  and sorting == "name-asc"%} selected {% endif %}>{{ 'name, >'|trans|capitalize }}</option>
                                                        <option value="name-desc" {% if sorting is defined  and sorting == "name-desc"%} selected {% endif %}> {{ 'name, <'|trans|capitalize }}</option>
                                                        <option value="startDate-asc" {% if sorting is defined  and sorting == "startDate-asc"%} selected {% endif %}>{{ 'date, >'|trans|capitalize }}</option>
                                                        <option value="startDate-desc" {% if sorting is defined  and sorting == "startDate-desc"%} selected {% endif %}>{{ 'date, <'|trans|capitalize }}</option>
                                                    </select>
                                                </div>
                                                <div class="selectric-items" tabindex="-1">
                                                    <div class="selectric-scroll">
                                                        <ul>
                                                            <li data-index="0" class="selected">{{ 'likes'|trans|capitalize }}</li>
                                                            <li data-index="1" class="">{{ 'rating'|trans|capitalize }}</li>
                                                            <li data-index="2" class="last">{{ 'alphabet'|trans|capitalize }}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <input class="selectric-input" tabindex="0">
                                        </div>
                                        {#
                                        <div class="icons">
                                            <a id="switchToGridA" class="mr-2 active cursor-pointer-hover" onclick="switchToGrid()">
                                                <i class="fa fa-th" aria-hidden="true"></i>
                                            </a>
                                            <a id="switchToListA" class="cursor-pointer-hover" onclick="switchToList()">
                                                <i class="fa fa-th-list" aria-hidden="true"></i>
                                           </a>
                                        </div>
                                        #}
                                    </div>
                            </div>
                    </form>

                    <div id="gridFullwidthDiv" class="fade-in">
                        <div class="row">
                            {% for event in events %}
                                <div class="col-md-4" id="event{{ event.id }}">
                                    {% include '/cards/event.html.twig' with {'item': event} %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="listFullwidthDiv" class="fade-in">
                        {% for event in events %}
                            {% include '/cards/list/event.html.twig' with {'item': event} %}
                        {% endfor %}
                    </div>
                </div><!-- /.col -->

                <div class="col-lg-3">
                    {% include 'event/sidebar.html.twig' %}
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section>

    <script>
        var gridFullwidthDiv = document.getElementById('gridFullwidthDiv');
        var listFullwidthDiv = document.getElementById('listFullwidthDiv');
        var switchToGridA = document.getElementById('switchToGridA');
        var switchToListA = document.getElementById('switchToListA');

        listFullwidthDiv.style.display = "none";

        function switchToGrid() {
            if (gridFullwidthDiv.style.display != "block") {
                gridFullwidthDiv.style.display = "block";
                listFullwidthDiv.style.display = "none";
                switchToListA.classList.toggle("active");
                switchToGridA.classList.toggle("active");
            }
        }

        function switchToList() {
            if (listFullwidthDiv.style.display != "block") {
                listFullwidthDiv.style.display = "block";
                gridFullwidthDiv.style.display = "none";
                switchToListA.classList.toggle("active");
                switchToGridA.classList.toggle("active");
            }
        }

    </script>

{% endblock %}
