<form method="get">

    <div class="mb-6">
        <label class="mb-4 h5 font-weight-normal text-dark"
               for="keywordInput">{{ 'what are you looking for'|trans|title }}?</label>
        <input type="text" class="form-control" id="search" name="search"
               placeholder="Enter Keyword" {% if search|default %} value="{{ search }}"  {% endif %}>
    </div>

    <div class="mb-3 text-center">
        <button type="submit" class="btn btn-primary">{{ 'search'|trans|title }}</button>
    </div>

    <div class="mb-6">
        <h5 class="mb-4 font-weight-normal">{{ 'regions'|trans|title }}</h5>
        <ul class="list-unstyled list-gray">
            {% for category in regions %}
            <li class="mb-2"><a href="{{ path('app_event_index', {"categories[]":category.id}) }}">{{ category.name }}</a> {% if category.id in categories %}<span class="badge badge-info px-2 py-1">{{ 'active'|trans|title }}</span>{% endif %}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="mb-6">
        <h5 class="mb-4 font-weight-normal">{{ 'categories'|trans|title }}</h5>
        <ul class="list-unstyled list-gray">
            {% for category in settings %}
                <li class="mb-2"><a href="{{ path('app_event_index', {"categories[]":category.id}) }}">{{ category.name }}</a> {% if category.id in categories %}<span class="badge badge-info px-2 py-1">{{ 'active'|trans|title }}</span>{% endif %}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="mb-6">
        <h5 class="mb-4 font-weight-normal">{{ 'features'|trans|title }}</h5>
        <ul class="list-unstyled list-gray">
            {% for category in features %}
                <li class="mb-2"><a href="{{ path('app_event_index', {"categories[]":category.id}) }}">{{ category.name }}</a> {% if category.id in categories %}<span class="badge badge-info px-2 py-1">{{ 'active'|trans|title }}</span>{% endif %}</li>
            {% endfor %}
        </ul>
    </div>

</form>
