<form method="get">

    <div class="row mb-6">
        <div class="form-inline">
            <input type="text" class="form-control" id="search" name="search"
                   placeholder="search" {% if search|default %} value="{{ search }}"  {% endif %}>
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div><!-- /.col -->
    </div><!-- /.row -->

    <div class="mb-6">
        <h5 class="mb-4 font-weight-normal">{{ 'regions'|trans|title }}</h5>
        <ul class="list-unstyled list-gray">
            {% for category in regions %}
                <li class="mb-2">
                    <i class="{{ category.icon }}" data-toggle="tooltip" data-placement="top" title="{{ category.name }}"></i>
                    {% if category.id in categories %}
                        <a href="{{ path('app_event_index', {"categories":categories|filter(v => v != category.id),"search":search}) }}">{{ category.name|title }} <span class="badge badge-info px-2 py-1">{{ 'active'|trans|title }}</span><span style="color: red" class="fa fa-times px-2 py-1"></span></a>
                    {% else %}
                        <a href="{{ path('app_event_index', {"categories":categories|merge([category.id]),"search":search}) }}">{{ category.name|title }} </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="mb-6">
        <h5 class="mb-4 font-weight-normal">{{ 'categories'|trans|title }}</h5>
        <ul class="list-unstyled list-gray">
            {% for category in settings %}
                <li class="mb-2">
                    <i class="{{ category.icon }}" data-toggle="tooltip" data-placement="top" title="{{ category.name }}"></i>
                    {% if category.id in categories %}
                        <a href="{{ path('app_event_index', {"categories":categories|filter(v => v != category.id),"search":search}) }}">{{ category.name|title }} <span class="badge badge-info px-2 py-1">{{ 'active'|trans|title }}</span><span style="color: red" class="fa fa-times px-2 py-1"></span></a>
                    {% else %}
                        <a href="{{ path('app_event_index', {"categories":categories|merge([category.id]),"search":search}) }}">{{ category.name|title }} </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="mb-6">
        <h5 class="mb-4 font-weight-normal">{{ 'features'|trans|title }}</h5>
        <ul class="list-unstyled list-gray">
            {% for category in features %}
                <li class="mb-2">
                    <i class="{{ category.icon }}" data-toggle="tooltip" data-placement="top" title="{{ category.name }}"></i>
                    {% if category.id in categories %}
                        <a href="{{ path('app_event_index', {"categories":categories|filter(v => v != category.id),"search":search}) }}">{{ category.name|title }} <span class="badge badge-info px-2 py-1">{{ 'active'|trans|title }}</span><span style="color: red" class="fa fa-times px-2 py-1"></span></a>
                    {% else %}
                        <a href="{{ path('app_event_index', {"categories":categories|merge([category.id]),"search":search}) }}">{{ category.name|title }} </a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</form>
