{% if likes|default and likes|length > 0 %}
<table id="likes" class="display nowrap table" style="width:100%">
    <thead class="thead-light">
    <tr>
        <th>{{ 'Subject'|trans|capitalize }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for like in likes %}
    <tr>
        <td>{{ commonground_resource(like.resource).name }}</td>
        <td><i class="fa fa-heart text-primary" aria-hidden="true"></i></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="card-body  text-center">
    <p>{{ 'no favorites found'|trans|capitalize }}</p>
    <a href="{{ path('app_event_index') }}" class="btn btn-primary">{{ 'find a event'|trans|capitalize }}</a>
    or
    <a href="{{ path('app_organization_index') }}" class="btn btn-primary">{{ 'find a organization'|trans|capitalize }}</a>
</div>
{% endif %}
