{% if likes|default and likes|length > 0 %}
<table id="likes" class="display nowrap table" style="width:100%">
    <thead class="thead-light">
    <tr>
        <th>{{ 'subject'|trans|capitalize }}</th>
        <th>{{ 'type'|trans|capitalize }}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for like in likes %}
    <tr>
        <td>
            <a class="text-hover-primary text-muted"
            {% if like.resource['@type'] == 'https://schema.org/Event' %}
                 href="{{ path('app_event_event', {id: like.resource.id}) }}"
            {% elseif like.resource['@type'] == 'Organization' %}
                href="{{ path('app_organization_organization', {id: like.resource.id}) }}"
            {% else %}
                href="#"
            {% endif %}
            >{{ like.resource.name }}</a>
        </td>
        <td>
            {% if like.resource['@type'] == 'https://schema.org/Event' %}
                {{ 'event'|trans|capitalize }}
                {% else %}
                {{ like.resource['@type']|lower|trans|capitalize }}
            {% endif %}
        </td>
        <td>
            <div class="float-right">
{#                <a href="#" onclick="likeItem('{{ like.resource['id'] }}','{{ like.resource['@id'] }}','{{ like.organization }}', this)"#}
{#                   liked="true"#}
{#                   data-toggle="tooltip"#}
{#                   data-placement="top"#}
{#                   title=""#}
{#                   data-original-title="{{ 'remove this favourite'|trans|capitalize }}">#}
{#                    <i class="fa fa-heart text-primary float-right mr-3" aria-hidden="true" id="icon_{{ like.resource['id'] }}"></i>#}
{#                </a>#}
                <i class="fa fa-heart text-primary float-right mr-3" aria-hidden="true" id="icon_{{ like.resource['id'] }}"></i>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="card-body  text-center">
    <p>{{ 'no results found'|trans|capitalize }}</p>
    <a href="{{ path('app_event_index') }}" class="btn btn-primary btn-sm">{{ 'find'|trans|capitalize~' '~'a'|trans~' '~'event'|trans }}</a>
    <span class="mx-2">{{ 'or'|trans }}</span>
    <a href="{{ path('app_organization_index') }}" class="btn btn-primary btn-sm">{{ 'find'|trans|capitalize~' '~'a'|trans~' '~'organization'|trans }}</a>
</div>
{% endif %}
