
{% if organizations|default and organizations|length > 0 %}
<table id="organizations" class="display nowrap table" style="width:100%">
    <thead class="thead-light">
    <tr>
        <th>{{ 'name'|trans|capitalize }}</th>
        <th>
{#            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#OrganizationModalAdd">{{ 'add'|trans|capitalize }}</button>#}
            <a href="{{ path('app_dashboarduser_addorganization') }}" class="btn btn-success btn-sm">{{ 'add'|trans|capitalize }}</a>
        </th>
    </tr>
    </thead>
    <tbody>
    {% for organization in organizations %}
    <tr>
        <td>{{ organization.name }} {% if app.user.organization is defined and organization['@id'] == app.user.organization %}<i style="color: green" class="fas fa-check-circle mr-2"></i>{% endif %}</td>
        <td>
            <a class="btn btn-outline-primary btn-sm" href="{{ path('app_dashboard_switchorganization', {id: organization.id}) }}"><i class="fas fa-edit" aria-hidden="true"></i>{{ 'go to dashboard'|trans|capitalize }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
    <div class="card-body  text-center">
        <p>{{ 'no events found'|trans|capitalize }}</p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#OrganizationModalAdd">{{ 'add a organization'|trans|capitalize }}</a>
    </div>
{% endif %}

{% include 'dashboard_user/modals/organization.html.twig' %}

{% for organization in organizations %}
    {% include 'dashboard_user/modals/organization.html.twig' with {'resource': organization} %}
{% endfor %}
