<div class="card border-light shadow-sm">
    <div class="card-header">
        <div class="row col-12 pt-1 pb-1 align-items-center">
            <div class="col">
                <h2 class="h5">{{ 'my organisations'|trans|capitalize }}</h2></div>
            <div class="col-3 text-right">
                {% if items is defined %}
                    <a href="" data-toggle="modal" data-target="#{{ type~'Modal' }}" class="btn btn-success btn-sm mr-2 w-50">{{ 'add organization'|trans|capitalize }}</a>
                    {% else %}
                        <a href="{{ path('app_organization_index') }}" class="btn btn-sm btn-secondary">{{ 'see all organizations'|trans|capitalize }}</a>
                {% endif %}
            </div>
        </div>
    </div>
{#    {% if items is defined and items|length > 0 %}#}
{#        {% set organizations = items %}#}
{#    {% endif %}#}
    {% if items is  defined and items|length > 0 %}
    <div class="table-responsive">
        <table class="table align-items-center table-flush">
            <thead class="thead-light">
            <tr>
                <th scope="col">{{ 'name'|trans|capitalize }}</th>
                <th scope="col">{{ 'email'|trans|capitalize }}</th>
                <th scope="col">{{ 'details'|trans|capitalize }}</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td><span class="h6 mb-3 mb-lg0">{{ item.name }}</span></td>
                    <td>
                        {% if item.contact|default and commonground_resource(item.contact).emails|default %}
                            {% set contact = commonground_resource(item.contact) %}
                            {% for emails in contact.emails %}
                            <span class="h5 mb-3 mb-lg-0">
                                <i class="fas fa-user-tie text-secondary"></i>
                                <span class="ml-3">{{ emails.email }}</span>
                            </span>
                            {% endfor %}
                        {% else %}
                            <span class="h5 mb-3 mb-lg-0">
                                <i class="fas fa-user-tie text-secondary"></i>
                                <span class="ml-3">{{ 'no email found'|trans|capitalize }}</span>
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('app_organization_organization', {id: item.id}) }}" class="btn btn-primary">{{ 'view'|trans|capitalize }}</a>
                        <a href="{{ path('app_dashboard_switchorganization', {id: item.id}) }}" class="btn btn-primary">{{ 'manage'|trans|capitalize }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="card-body  text-center">
        <p>{{ 'no organizations found'|trans|capitalize }}</p>
        <a href="{{ path('app_organization_index') }}" class="btn btn-primary">{{ 'find a organization'|trans|capitalize }}</a>
    </div>
    {% endif %}
</div>
