
{% if organizations|default and organizations|length > 0 %}
<table id="organizations" class="display nowrap table" style="width:100%">
    <thead class="thead-light">
    <tr>
        <th>{{ 'name'|trans|capitalize }}</th>
        <th>
{#            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#OrganizationModalAdd">{{ 'add'|trans|capitalize }}</button>#}
{#            <a href="{{ path('app_dashboardorganization_edit', {'id':'add'}  ) }}" class="btn btn-success btn-sm float-right">{{ 'add'|trans|capitalize }}</a>#}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for organization in organizations %}
    <tr>
        <td>{{ organization.name }} {% if app.user.organization is defined and organization['@id'] == app.user.organization %}
                <i style="color: green" class="fas fa-check-circle mr-2" data-toggle="tooltip" data-placement="top" title="selected"></i>{% endif %}</td>
        <td>
            <a class="btn btn-outline-primary btn-sm float-right" href="{{ path('app_dashboard_switchorganization', {id: organization.id}) }}">
                <i class="fas fa-edit" aria-hidden="true"></i>{{ 'manage organization'|trans|capitalize }}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {# @todo terug plaatsen na review matthias #}
{#{% else %}#}
{#    <div class="card-body  text-center">#}
{#        <p>{{ 'no organizations found'|trans|capitalize }}</p>#}
{#        <a href="{{ path('app_dashboardorganization_edit', {'id':'add'}  ) }}" class="btn btn-primary">{{ 'add an organization'|trans|capitalize }}</a>#}
{#    </div>#}
{% endif %}

