{% extends "base.html.twig" %}

{% block content %}

    {# include 'dashboard_user/menu.html.twig' #}

    <!-- Breadcrumb -->
    <section class="pb-8 pt-5 bg-light height100vh">
        <div class="container">
            <!-- Breadcrumb -->
            <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-5" aria-label="breadcrumb">
                <h2 class="font-weight-normal mb-4 mb-md-0">{{ 'tickets'|trans|capitalize }} {{ event.name }}</h2>
                <ul class="list-unstyled d-flex p-0 m-0">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">{{ 'home'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboardorganization_index') }}">{{ 'dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page">{{ 'tickets'|trans|capitalize }}</li>
                </ul>
            </nav>

            <table id="tickets" class="display nowrap table" style="width:100%">
                <thead>
                <tr id="test">
                    <th>{{ 'reference'|trans|capitalize }}</th>
                    <th>{{ 'name'|trans|capitalize }}</th>
                    <th>{{ 'paid'|trans|capitalize }}</th>
                    <th>{{ 'type'|trans|capitalize }}</th>
                    <th>
                        {% if app.request.attributes.get('_route') == 'app_dashboardorganization_eventtickets' %}
                            <a onclick="sendDownload()" {#href="{{ path('app_dashboardorganization_eventtickets', {'action': 'download', id: event.id}) }}"#} class="btn btn-warning btn-sm ml-2 text-white">{{ 'download tickets'|trans|capitalize }}</a>
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}

                    {% set items = order.items %}
                    <tr>
                        <td>{{ order.reference }}</td>
                        <td>{{ commonground_resource(order.customer).name }}</td>
                        <td {% if commonground_resource(order.invoice).paid == true %} class="text-success" {% else %} class="text-danger" {% endif %}>{% if commonground_resource(order.invoice).paid == true %}{{ 'paid'|trans|capitalize }}{% else %}{{ 'unpaid'|trans|capitalize }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <script>
        //get content of table into array
        var tableInfo = Array.prototype.map.call(document.querySelectorAll('#tickets tr'), function(tr){
            return Array.prototype.map.call(tr.querySelectorAll('td'), function(td){
                return td.innerHTML;
            });
        });
        function sendDownload() {
            let csvContent = "data:text/csv;charset=utf-8," + tableInfo.map(e => e.join(",")).join("\n");
            var encodedUri = encodeURI(csvContent);
            var link = document.createElement("a");
            link.setAttribute("href", encodedUri);
            link.setAttribute("download", "tickets.csv");
            document.body.appendChild(link); // Required for FF
            link.click(); // This will download the data file named "tickets.csv"

        }
    </script>
{% endblock %}
