{% extends "base.html.twig" %}

{% block content %}

    {# include 'dashboard_user/menu.html.twig' #}

    <!-- Breadcrumb -->
    <section class="pb-8 pt-5 bg-light height100vh">
        <div class="container">
            <!-- Breadcrumb -->
            <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-5" aria-label="breadcrumb">
                <h2 class="font-weight-normal mb-4 mb-md-0">{{ 'tickets'|trans|capitalize }}</h2>
                <ul class="list-unstyled d-flex p-0 m-0">
                    <li class="breadcrumb-item"><a href="{{ path('app_default_index') }}">{{ 'home'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a href="{{ path('app_dashboardorganization_index') }}">{{ 'dashboard'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item active"
                        aria-current="page">{{ 'tickets'|trans|capitalize }}</li>
                </ul>
            </nav>

            <table id="tickets" class="display nowrap table" style="width:100%">
                <thead>
                <tr>
                    <th>{{ 'reference'|trans|capitalize }}</th>
                    <th>{{ 'name'|trans|capitalize }}</th>
                    <th>{{ 'paid'|trans|capitalize }}</th>
                    <th>{{ 'type'|trans|capitalize }}</th>
                    <th>
                        {{ 'other products'|trans|capitalize }}
                        {% if app.request.attributes.get('_route') == 'app_dashboardorganization_eventtickets' %}
                            <a href="{{ path('app_dashboardorganization_eventtickets', {'action': 'download', id: event.id}) }}" class="btn btn-warning btn-sm ml-2">{{ 'download tickets'|trans|capitalize }}</a>
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    {% set order = ticket.order %}
                    <tr>
                        <td>{{ order.reference }}</td>
                        <td>{{ commonground_resource(order.customer).name }}</td>
                        <td>
{#                            {% if commonground_resource(order.invoice).paid == true %}#}
{#                                <span  class="text-success">{{ 'paid'|trans|capitalize }}</span>#}
{#                            {% else %}#}
{#                                <span  class="text-danger">{{ 'unpaid'|trans|capitalize }}</span>#}
{#                            {% endif %}#}
                        </td>
                        <td>{{ product.type }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <!-- events -->
{#            {%  include 'dashboard_organization/tables/products.html.twig' %}#}

{#            {%  include 'dashboard_organization/tables/offers.html.twig'  with {'offers': offers} %}#}

        </div>
    </section>

{% endblock %}
