{% extends "base.html.twig" %}

{% block content %}

    {# include 'dashboard_user/menu.html.twig' #}

    <!-- Breadcrumb -->
    <section class="pb-8 pt-5 bg-light height100vh">
        <div class="container">
            <!-- Breadcrumb -->
            <nav class="bg-transparent breadcrumb breadcrumb-2 px-0 mb-5" aria-label="breadcrumb">
                <h2 class="font-weight-normal mb-4 mb-md-0">{{ 'checkin for'|trans|capitalize }} {{ event.name }}</h2>
                <ul class="list-unstyled d-flex p-0 m-0">
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_default_index') }}">{{ 'home'|trans|capitalize }}</a></li>
                    <li class="breadcrumb-item"><a
                            href="{{ path('app_dashboardorganization_index') }}">{{ 'dashboard'|trans|capitalize }}</a>
                    </li>
                    <li class="breadcrumb-item active"
                        aria-current="page">{{ 'checkin'|trans|capitalize }}</li>
                </ul>
            </nav>

            <div class="row">

                <!-- checked-in -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-white">
                            <span class="text-content">{{ 'checked-in'|trans|capitalize }}</span>
                            <span class="badge badge-primary">{{ 'download'|trans|capitalize }}</span>
                        </div>

                        <div class="card-body widget-content">
                            <span class="widget-content-title">221</span>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">{{ 'people currently pressent'|trans|capitalize }}</p>
                            </div>
                            <a href="#" class="btn btn-link">{{ 'filter'|trans|capitalize }}</a>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.col -->

                <!-- checked-in -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-white">
                            <span class="text-content">{{ 'To do'|trans|capitalize }}</span>
                        </div>

                        <div class="card-body widget-content">
                            <span class="widget-content-title">400</span>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">{{ 'people yet to check in'|trans|capitalize }}</p>
                            </div>
                            <a href="#" class="btn btn-link">{{ 'filter'|trans|capitalize }}</a>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.col -->

                <!-- checked-in -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header bg-white">
                            <span class="text-content">{{ 'checked-out'|trans|capitalize }}</span>
                        </div>

                        <div class="card-body widget-content">
                            <span class="widget-content-title">6</span>
                            <div class="d-flex justify-content-between align-items-center">
                                <p class="mb-0">{{ 'people that have left'|trans|capitalize }}</p>
                            </div>
                            <a href="#" class="btn btn-link">{{ 'filter'|trans|capitalize }}</a>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.col -->

            </div><!-- /.row -->

            <!-- events -->
            <table id="checkin" class="display nowrap table" style="width:100%">
                <thead>
                <tr>
                    <th>{{ 'reference'|trans|capitalize }}</th>
                    <th>{{ 'person'|trans|capitalize }}</th>
                    <th>{{ 'membership'|trans|capitalize }}</th>
                    <th>{{ 'order'|trans|capitalize }}</th>
                    <th>{{ 'payment'|trans|capitalize }}</th>
                    <th>{{ 'status'|trans|capitalize }}</th>
                    <th>
                        <button type="button" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#CheckinModalAdd">{{ 'add'|trans|capitalize }}</button>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% if checkins|default %}
                    {% for checkin in checkins %}
                        <tr>
                            <td>
                                {{ checkin.invoiceItem.id[:7] }}
                            </td>
                            <td class="text-capitalize">
                                <a class="text-hover-primary text-muted">{{ checkin.person.name }}</a>
                            </td>
                            <td>
                                Jaarlid
                            </td>
                            <td>
                                {{ checkin.invoiceItem.name }}
                            </td>
                            <td>
                                <span class="badge badge-danger px-2 py-1">{{ checkin.paymentStatus }}</span>
                            </td>
                            <td>
                                <span
                                    class="badge {% if checkin.checkedIn == true %} badge-success {% else %} badge-warning {% endif %} px-2 py-1"> {% if checkin.checkedIn == true %} Checked in {% else %} Not checked in {% endif %}</span>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary btn-sm text-center w-100"{% if checkin.checkedIn != true %}
                                   onclick="checkThisPersonIn(this, '{{ checkin.person['@id'] }}')"{% endif %}>{% if checkin.checkedIn == true %}
                                        <i style="color: limegreen" class="fas fa-check"
                                           aria-hidden="true"></i>{% else %}<i class="fas fa-edit"
                                                                               aria-hidden="true"></i>{{ 'checkin'|trans|capitalize }}{% endif %}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>

        </div>
    </section>

    <script>
        function checkThisPersonIn(aElement, person) {
            aElement.innerHTML = "<span class=\"spinner-border spinner-border-sm\" role=\"status\" aria-hidden=\"true\"></span>" + "<span class=\"sr-only\">Loading...</span>";
            aElement.removeAttribute("onclick");

            // And then fire an ajax to do the actual work
            $.ajax({
                type: "POST",
                url: "{{ path('app_dashboardorganization_checksomeonein', {id: event.id}) }}",
                data: {
                    person: person
                },
                dataType: "json",
                complete: function (response) {
                    if (response.responseJSON == undefined) {
                        aElement.innerHTML = "Checking failed";
                        setTimeout(function () {
                            aElement.innerHTML = "<i class=\"fas fa-edit\" aria-hidden=\"true\"></i>Checkin";
                            aElement.setAttribute("onclick"," checkThisPersonIn(this, '" + person + "')");
                            }, 2000)
                    } else if (response.responseJSON.status == 'success') {
                        aElement.innerHTML = "<i class=\"fas fa-check\" aria-hidden=\"true\"></i>";
                        aElement.parentElement.previousElementSibling.firstElementChild.innerHTML = "Checked in";
                        aElement.parentElement.previousElementSibling.firstElementChild.classList.remove("badge-warning");
                        aElement.parentElement.previousElementSibling.firstElementChild.classList.add("badge-success");
                        aElement.firstElementChild.style.color = 'limegreen';
                        aElement.removeAttribute("onclick");
                    }
                }
            });
        }
    </script>

{% endblock %}
