<nav class="nav-menuzord navbar-sticky">
    <div class="container clearfix">
        <div id="menuzord" class="menuzord menuzord-responsive">

            <a style="border:3px solid #2196F3;" href="{{ path('app_default_index') }}"
               class="menuzord-brand p-2 mt-3 no-text-deco">
                {# <svg class="logo-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" width="140" height="44"> #}
                {# <path class="fill-primay" #}
                {# d="M0 44V0h139.813v44H0zM137.346 2.467H2.467v39.065h134.879V2.467z"/> #}
                {# <path class="fill-primay" #}
                {# d="M120.927 22.389v11.095h-4.566V22.389a371.288 371.288 0 0 0-2.086-2.888 347.047 347.047 0 0 1-2.2-3.053 386.86 386.86 0 0 0-2.201-3.053c-.7-.959-1.395-1.922-2.086-2.888h5.617l5.255 7.287 5.222-7.287h5.649c.002 0-8.604 11.882-8.604 11.882zM98.034 33.484h-4.565V15.069h-6.372v-4.562h17.244v4.562h-6.306v18.415zm-21.908 0H71.56V15.069h-6.372v-4.562h17.244v4.562h-6.306v18.415zm-17.425-1.789c-.69.623-1.511 1.116-2.463 1.477-.953.361-1.987.542-3.104.542-1.007 0-1.982-.143-2.923-.427a10.814 10.814 0 0 1-2.661-1.214h.033a9.928 9.928 0 0 1-1.577-1.215 18.73 18.73 0 0 1-.953-.952l3.416-3.151c.153.197.399.432.739.706.339.274.728.537 1.166.788.44.253.902.467 1.38.64.481.175.941.262 1.379.262.372 0 .744-.044 1.117-.131.359-.082.703-.22 1.018-.41.305-.185.564-.437.755-.739.197-.306.296-.689.296-1.149 0-.175-.06-.366-.181-.574-.12-.208-.329-.432-.624-.673-.296-.241-.706-.498-1.232-.771a20.567 20.567 0 0 0-1.971-.87 25.42 25.42 0 0 1-2.562-1.132 8.896 8.896 0 0 1-2.053-1.428 5.903 5.903 0 0 1-1.347-1.871c-.317-.7-.476-1.51-.476-2.429 0-.94.175-1.822.526-2.642a6.21 6.21 0 0 1 1.494-2.133c.646-.602 1.423-1.072 2.332-1.412.908-.339 1.911-.509 3.006-.509.591 0 1.22.077 1.889.23.668.153 1.319.35 1.954.591a12.95 12.95 0 0 1 1.79.837c.558.317 1.023.64 1.396.968l-2.825 3.545a15.71 15.71 0 0 0-1.281-.788 10.316 10.316 0 0 0-1.281-.558 4.311 4.311 0 0 0-1.478-.263c-.919 0-1.637.181-2.151.542-.515.361-.772.881-.772 1.559 0 .307.093.586.279.837.186.252.438.482.756.689.348.225.717.417 1.1.574.416.176.854.34 1.314.492 1.314.504 2.42 1.013 3.318 1.526.898.514 1.62 1.062 2.168 1.642s.936 1.204 1.166 1.871c.23.668.345 1.395.345 2.183 0 .963-.197 1.871-.591 2.724a6.803 6.803 0 0 1-1.626 2.216zM34.839 10.507h4.532v22.977h-4.532V10.507zm-20.036 0h4.566v18.415h9.263v4.563H14.803V10.507z"/> #}
                {# </svg> #}
                <h2 style="color:#2196F3;" class="m-0">LARPING</h2>
            </a>
            {% if not app.user|default %}
                <div class="float-right btn-wrapper">
                    <a class="btn btn-primary"
                       href="{{ path('app_user_idvault', {'backUrl':path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params'))}) }}"><span>{{ 'login'|trans|capitalize }}</span>
                    </a>

                    <a class="btn btn-outline-primary"
                       href="{{ path('app_user_idvault', {'backUrl':path(app.request.attributes.get('_route'),
                           app.request.attributes.get('_route_params'))}) }}"><span>{{ 'register'|trans|capitalize }}</span>
                    </a>
                </div>
            {% endif %}

            <ul class="menuzord-menu menuzord-right">
                <li><a href="{{ path('app_organization_index') }}">{{ 'organizations'|trans|capitalize }}</a></li>
                <li><a href="{{ path('app_event_index') }}">{{ 'events'|trans|capitalize }}</a></li>
                <!-- Tijdelijk uitgezet ivm
                <li><a href="{{ path('app_location_index') }}">{{ 'locations'|trans|capitalize }}</a></li>
                -->
                <li class="">
                    {% if app.user.organization is defined and app.user.organization is not empty %}
                        {% set organization = commonground_resource(app.user.organization) %}
                        <a href="#">{{ organization.name }}</a>
                        <div class="megamenu">
                            <div class="megamenu-row">
                                <div class="col4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h5 class="heading">
                                                <i class="fa fa-building mr-2 text-primary" aria-hidden="true"></i>
                                                {{ organization.name }}
                                            </h5>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_index') }}">{{ 'dashboard'|trans|capitalize }} </a>
                                        </li>
                                        {% set allowed = false %}
                                        {% for group in app.user.groups %}
                                            {% if organizations|default and organizations > 1 %}
                                                {% if group.name == 'root' or 'administrators' %}
                                                    {% set allowed = true %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if allowed %}
                                            <li>
                                                <a href="{{ path('app_dashboarduser_organizations') }}">{{ 'switch organization'|trans|capitalize }}</a>
                                            </li>
                                        {% endif %}
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_edit', {'id':organization.id}) }}">{{ 'edit organization'|trans|capitalize }} </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_paymentproviders') }}">{{ 'payment providers'|trans|capitalize }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col4">
                                    <!--
                                    <ul class="list-unstyled">
                                        <li>
                                            <h5 class="heading">
                                                <i class="fas fa-chart-pie text-primary mr-2" aria-hidden="true"></i>
                                                {{ 'financial'|trans|capitalize }}
                                            </h5>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_balance') }}">{{ 'balance'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_reservations') }}">{{ 'reservations'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_earnings') }}">{{ 'earnings'|trans|capitalize }}</a>
                                        </li>
                                    </ul>
                                    -->
                                    <ul class="list-unstyled">
                                        <li>
                                            <h5 class="heading">
                                                <i class="fas fa-coins mr-2 text-primary" aria-hidden="true"></i>
                                                {{ 'sales'|trans|capitalize }}
                                            </h5>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_events') }}">{{ 'events'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_locations') }}">{{ 'locations'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_products') }}">{{ 'products'|trans|capitalize }}</a>
                                        </li>
                                        <!--
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_offers') }}">{{ 'offers'|trans|capitalize }}</a>
                                        </li>
                                        -->
                                        <li>
                                            <a href="{# path('app_dashboardorganization_orders') #}"
                                               style="text-decoration: line-through">{{ 'orders'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_reviews') }}">{{ 'reviews'|trans|capitalize }}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col4">
                                    <ul class="list-unstyled">
                                        <li>
                                            <h5 class="heading">
                                                <i class="fa fa-building text-primary mr-2" aria-hidden="true"></i>
                                                {{ 'member managment'|trans|capitalize }}
                                            </h5>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_members') }}">{{ 'members'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_mailinglists') }}">{{ 'Mailing Lists'|trans }}</a>
                                        </li>
                                        <li>
                                            <a href="{# path('app_dashboardorganization_makeorderformember') #}"
                                               style="text-decoration: line-through">{{ 'make a order for a member'|trans|capitalize }}</a>
                                        </li>
                                    </ul>
                                    <!--
                                    <ul class="list-unstyled">
                                        <li>
                                            <h5 class="heading">
                                                <i class="far fa-play-circle text-primary mr-2" aria-hidden="true"></i>
                                                {{ 'gameplay'|trans|capitalize }}
                                            </h5>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_characters') }}">{{ 'characters'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_skills') }}">{{ 'skills'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_items') }}">{{ 'items'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_conditions') }}">{{ 'conditions'|trans|capitalize }}</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_dashboardorganization_storylines') }}">{{ 'storylines'|trans|capitalize }}</a>
                                        </li>
                                    </ul>
                                -->
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </li>

                <li id="firstdiv">
                    {% if app.user.organization is defined and app.user.organization is not empty %}
                        {% set organization = commonground_resource(app.user.organization) %}
                        {# @todo change this to static id #}
                        {% if organization.name == 'Conduction' %}
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                               data-display="static" aria-haspopup="true" aria-expanded="false">
                                {{ 'global administration' }}
                            </a>
                            <div class="dropdown">
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="secdiv">
                                    <a class="dropdown-item" href="{{ path('app_dashboardadministration_index') }}"><i
                                            class="fal fa-columns"></i> {{ 'dashboard'|trans|capitalize }}</a>
                                    <a class="dropdown-item"
                                       href="{{ path('app_dashboardadministration_organizations') }}"><i
                                            class="fal fa-building"></i> {{ 'organizations'|trans|capitalize }}</a>
                                    <a class="dropdown-item" href="{{ path('app_dashboardadministration_locations') }}"><i
                                            class="fal fa-map-marker-alt"></i> {{ 'locations'|trans|capitalize }}</a>
                                    <a class="dropdown-item"
                                       href="{{ path('app_dashboardadministration_categories') }}"><i
                                            class="fal fa-paw-claws"></i> {{ 'categories'|trans|capitalize }}</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                </li>

                <div class="menu-right">
                    <div class="notification">
                        {% set orders = app.session.get('orders') %}
                        <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                           data-display="static" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge">
                                {% if orders|default %}
                                    {% set itemsCount = 0 %}
                                    {% for order in orders %}
                                        {% if order.orderItems|default %}{% set itemsCount = itemsCount + order.orderItems|length %}{% endif %}
                                    {% endfor %}
                                    {% if itemsCount|default %}
                                        {{ itemsCount }}
                                    {% endif %}
                                {% else %}
                                    0
                                {% endif %}
                            </span>
                        </a>
                        {% if orders|default %}
                            <ul class="dropdown-menu" style="min-width: 350px; right: -149px">
                                {% for order in orders %}
                                    {% if order.organization|default %}
                                        {% set organization = commonground_resource(order.organization) %}
                                        {% if organization|default %}
                                            <li>
                                                <a href="{{ path('app_organization_organization', {id: organization.id}) }}">
                                                    <div class="media media-xs align-items-center">
                                                        <div class="media-body">
                                                            <span style="font-size: 1.4rem"
                                                                  class="font-weight-bold">{{ organization.name }}</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                    {% if order.orderItems|default %}
                                        {% set sum = 0 %}
                                        {% for item in order.orderItems %}
                                            {% set sum = sum + item.price * item.quantity %}
                                            {% set offer = commonground_resource(item.offer) %}
                                            <li>
                                                <a href="{{ path('app_dashboard_index') }}">
                                                    <div class="media media-xs align-items-center">
                                                        <div class="media-body">
                                                            <div class="d-flex justify-content-between">
                                                                <span class="font-weight-bold">{{ offer.name }}</span>
                                                                <b class="mb-1 text-right">{{ (item.price)|localizedcurrency('EUR') }}</b>
                                                            </div>
                                                            <p class="d-inline-block  mb-1 mt-n2 pr-1"
                                                               style="font-size: smaller">{{ item.quantity }} {% if item.quantity > 1 %}items{% else %}item{% endif %}</p>

                                                            {% if item.options|default %}
                                                                <p class="d-inline-block  mb-1 mt-n2 pl-2"
                                                                   style="font-size: smaller;border-left: 1px solid lightgrey">{{ item.options|length }} {% if item.quantity > 1 %}{{ 'options'|trans }}{% else %}{{ 'option'|trans }}{% endif %}</p>
                                                                {% set optionsSum = 0 %}
                                                                {% for option in item.options %}
                                                                    {% set optionsSum = optionsSum + option.price %}
                                                                    {% set sum = sum + optionsSum %}
                                                                {% endfor %}
                                                                <p class="d-inline-block mb-1 mt-n2 pt-1 float-right text-right">{{ (optionsSum)|localizedcurrency('EUR') }}</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        <li>
                                            <div style="display: block;padding-left: 1rem;padding-right: 1rem;
                                            padding-top: 0.5rem;padding-bottom: 0.5rem;color: #848484;
                                            text-decoration: none;">
                                                <div class="media media-xs align-items-center">
                                                    <div class="media-body">
                                                        <div class="d-flex justify-content-between">
                                                            <span
                                                                class="font-weight-bold">{{ 'sum'|trans|capitalize }}:</span>
                                                            <b class="mb-1 text-right"
                                                               style="color: black">{{ (sum)|localizedcurrency('EUR') }}</b>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    {% endif %}
                                    <hr>
                                {% endfor %}
                                <li style="margin-top: 0">
                                    <a href="{{ path('app_shopping_index') }}"
                                       style="border-top: none; font-size: medium;text-transform: none"
                                       class="btn btn-small text-right">
                                        {{ 'view shopping cart'|trans|capitalize }}
                                    </a>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="dropdown-menu">
                                <li>
                                    <div>
                                        <div class="media media-xs align-items-center">
                                            <div class="media-body  mb-3 text-center">
                                                        <span
                                                            class="font-weight-bold">{{ 'no products in cart'|trans|capitalize }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}
                    </div>


                    {% if app.user|default %}
                        {% if app.user.person|default %}
                            {% set person = commonground_resource(app.user.person) %}
                        {% endif %}
                        <div class="avatar">
                            <div class="avatar-img mr-4" data-toggle="dropdown" aria-expanded="false" id="userDropdown"
                                 role="button">
                                <img
                                    style="height: 50%; width: 75%" {% if person.personalPhoto is defined and person.personalPhoto is not empty %}
                                    src="{{ person.personalPhoto }}" {% else %}
                                    src="https://eu.ui-avatars.com/api/?name={{ person.givenName }}+{{ person.familyName }}&background=EB2D2D&rounded=true&color=fff&bold=true"
                                    {% endif %}class=" card-img-top rounded-circle border-white">
                            </div>
                            {# <a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown" #}
                            {# aria-haspopup="true" data-display="static" aria-expanded="false"> #}
                            {# {% if person.personalPhoto|default %} #}
                            {# {% set photo = commonground_resource(person.personalPhoto) %} #}
                            {# {% if photo.base64|default %} #}
                            {# <img class="avatar-img" src="{{ photo.base64 }}" alt="Image"> #}
                            {# {% endif %} #}
                            {# {% endif %} #}
                            {# {% if person|default %} #}
                            {# <span class="avatar-name">{{ person.name }} #}
                            {# <span class="small" #}
                            {# style="text-transform: none">{{ app.user.username|lower }}</span> #}
                            {# </span> #}
                            {# {% else %} #}
                            {# <span class="avatar-name">{{ app.user.name }}</span> #}
                            {# {% endif %} #}
                            {# </a> #}
                            <ul class="dropdown-menu" style="min-width: 200px;">
                                <li>
                                    <a class="d-flex flex-wrap align-items-center"
                                       href="https://id-vault.com/dashboard" target="_blank">
                                        <i class="fal fa-user mr-2" aria-hidden="true"></i>
                                        {{ 'my profile'|trans|capitalize }}
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex flex-wrap align-items-center"
                                       href="{{ path('app_dashboarduser_memberships') }}">
                                        <div class="fal fa-address-card mr-2" aria-hidden="true">
                                            {{ 'my memberships'|trans|capitalize }}</div>
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex flex-wrap align-items-center"
                                       href="{{ path('app_dashboarduser_organizations') }}">
                                        <i class="fal fa-building mr-2" aria-hidden="true"></i>
                                        {{ 'my organizations'|trans|capitalize }}
                                        {# checks if you have a organization #}
{#                                        {% set allowed = false %}#}
{#                                        {% for group in app.user.groups %}#}
{#                                            {% if group.name == 'root' or 'administrators' %}#}
{#                                                {% set allowed = true %}#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                        {% if allowed %}#}
{#                                            {{ 'my organizations'|trans|capitalize }}#}
{#                                        {% else %}#}
{#                                            {{ 'start an organization'|trans|capitalize }}#}
{#                                        {% endif %}#}
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex flex-wrap align-items-center"
                                       href="{{ path('app_dashboarduser_events') }}">
                                        <i class="fal fa-calendar-alt mr-2" aria-hidden="true"></i>
                                        {{ 'my events'|trans|capitalize }}
                                    </a>
                                </li>
                                <!--
                                <li>
                                    <a class="d-flex flex-wrap align-items-center"
                                       href="{{ path('app_dashboarduser_characters') }}">
                                        <i class="fal fa-calendar-o mr-2" aria-hidden="true"></i>
                                        {{ 'my characters'|trans|capitalize }}
                                    </a>
                                </li>
                                -->
                                {% set hasLikes =  commonground_resource_list({'component':'rc','type':'likes'}, {'author':app.user.person})['hydra:member'] %}
                                {% if hasLikes|default %}
                                    <li>
                                        <a class="d-flex flex-wrap align-items-center"
                                           href="{{ path('app_dashboarduser_favorites') }}">
                                            <i class="fal fa-heart mr-2" aria-hidden="true"></i>
                                            {{ 'my favorites'|trans|capitalize }}
                                        </a>
                                    </li>
                                {% endif %}
                                <li>
                                    <a class="d-flex flex-wrap align-items-center"
                                       href="{{ path('app_dashboarduser_orders') }}">
                                        <i class="fal fa-shopping-cart mr-2" aria-hidden="true"></i>
                                        {{ 'my orders'|trans|capitalize }}
                                    </a>
                                </li>
                                <li>
                                    <a class="d-flex flex-wrap align-items-center" href="{{ path('app_user_logout') }}">
                                        <i class="fal fa-sign-out mr-2" aria-hidden="true"></i>
                                        <span class="text-small">{{ 'logout'|trans|capitalize }}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </ul>
        </div>
    </div>
</nav>

<script>
    $(document).ready(function () {
        $("#secdiv").css({
            'width': ($("#firstdiv").width() + 'px')
        });
    });
</script>
