<!-- Event card -->
{% set totals = commonground_resource_list({'component':'rc','type':'totals'}, {'resource':item['@id']}) %}
{% set eventCategories = commonground_resource_list({'component':'wrc','type':'categories'}, {'resources.resource':item['id']})['hydra:member'] %}
{% set eventOrganizations = commonground_resource(event.organization)%}
<a href="{{ path('app_event_event', {id: item.id}) }}">
    <div class="card rounded-0 card-hover-overlay">
        <div class="position-relative">
            <img class="card-img rounded-0" src="https://picsum.photos/300/200"
                 alt="Card image cap">
            <div class="card-img-overlay">
                <div class="d-flex align-items-center">
                    {% include 'widgets/rating.html.twig' with {'rating':totals.rating} %}
                    <span class="d-inline-block mr-2"
                          style="color: white">{{ totals.reviews }} {{ 'reviews'|trans|capitalize }}</span>
                </div>
                <h3 style="color: white">
                    {{ item.name|capitalize|length > 30 ? item.name|slice(0, 30) ~ '...' : item.name }}
                </h3>
                <ul class="list-unstyled" style="color: white">
                    <li>{{ item.location }}</li>
                    <li class="far fa-calendar-alt" aria-hidden="true"></li> {{ item.startDate|date("d-m-Y H:m") }}<br>
                    {% for category in eventCategories %}
                        <li class="{% if category.icon|default %}{{ category.icon }}{% endif %}" data-toggle="tooltip"
                            data-placement="top" title="{{ 'categorie: ' }}{{ category.name }}" aria-hidden="true"></li>
                    {% endfor %}
                    {% if features|default %}
                    {% for feature in features %}
                        <i class="{% if feature.icon|default %}{{ feature.icon }}{% endif %}" data-toggle="tooltip"
                           data-placement="top" title="{{ 'feature: ' }}{{ feature.name }}" aria-hidden="true"></i>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="card-footer bg-transparent">
            <ul class="list-unstyled d-flex mb-0 py-2">
                <li>
                    <button class="btn-like px-2" onclick="likeItem(this)" data-toggle="tooltip"
                            data-placement="top"
                            title=""
                            data-original-title="Favourite this listing" value="{{ item['@id'] }}">
                        <i {% if totals.liked|default %} class="fas fa-heart text-primary" {% else %}class="fal fa-heart text-primary" {% endif %}
                            aria-hidden="true"></i>
                        <span id="{{ item['id'] }}">{{ totals.likes }}</span>
                    </button>
                </li>
                <li class="ml-auto">
                    <a class="px-2"
                       href="{{ path('app_organization_organization', {'id': commonground_resource(item.organization).id }) }}">{{ commonground_resource(item.organization).name }}</a>
                </li>
            </ul>
        </div>
    </div>
</a>
