<!-- event card -->
<a href="{{ path('app_event_event', {id: item.id}) }}">
    <div class="card rounded-0 card-hover-overlay">
        <div class="position-relative">
            <img class="card-img rounded-0" src="https://picsum.photos/300/200"
                 alt="Card image cap">
            <div class="card-img-overlay">
                <h3>
                    <a href="{{ path('app_event_event', {'id': item.id}) }}" class="stretched-link">
                        {{ item.name|capitalize }}
                    </a>
                </h3>
                {% if item.description|default %}
                    <p class="text-white">{{ item.description|slice(0, 135) }}</p>
                {% else %}
                    <p style="color:lightgrey">{{ 'no description'|trans|capitalize }}</p>
                {% endif %}
            </div>
        </div>

        <div class="card-footer bg-transparent">
            <ul class="list-unstyled d-flex mb-0 py-2">
                <li>
                    <button class="btn-like px-2" onclick="likeItem(this)" data-toggle="tooltip"
                            data-placement="top"
                            title=""
                            data-original-title="Favourite this listing" value="{{ item['@id'] }}">
                        <i {% if isLiked|default %} class="fa fa-heart text-primary" {% else %}class="fa fa-heart-o text-primary" {% endif %} aria-hidden="true"></i>
                        <span id="{{ item['id'] }}">{{ likes }}</span>
                    </button>
                </li>
                <li class="ml-auto">
                    <a class="px-2" href="{{ path('app_event_event', {'id': item.id}) }}">{{ 'view'|trans|capitalize }}</a>
                </li>
            </ul>
        </div>
    </div>
</a>
