<!-- Offer card -->
{% if item.totals is not defined %}
    {% set item = item|merge({
        "totals": commonground_resource_list({'component':'rc','type':'totals'}, {'resource':item['@id']})
    }) %}
{% endif %}
{% set eventCategories = commonground_resource_list({'component':'wrc','type':'categories'}, {'resources.resource':item['id']}) %}

{% if item.products|default and item.products|length > 0 %}
    {% set break = false %}
    {% set eventUrl = false %}
    {% for product in item.products if not break %}
        {% if product.event|default %}
            {% set eventUrl = product.event %}
            {% set break = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if eventUrl|default %}
    {% set eventImages = commonground_resource_list({'component':'wrc','type':'images'}, {'resource':eventUrl})['hydra:member'] %}
    {% if eventImages|length > 0 %}
        {% set eventImage = eventImages[0] %}
    {% endif %}
{% endif %}


{% if not offer.quantity|default or (offer.quantity|default and offer.quantity > 0) %}
    <a data-toggle="modal" href="#offer{{ offer.id }}Modal">
{% endif %}
<div class="card rounded-0 card-hover-overlay" style="{% if minHeightCard|default %}min-height: {{ minHeightCard }}px;{% endif %}{% if minWidthCard|default %}min-width: {{ minWidthCard }}px;{% endif %}">
    <div class="position-relative text-center">
        {% if eventImage.base64 is defined %}
            <img class="card-img rounded-0"
                 style="{% if maxWidthImage|default %}max-width: {{ maxWidthImage }}px;{% endif%}
                     {% if maxHeightImage|default %}max-height: {{ maxHeightImage }}px;{% endif%}
                     width: auto;height: auto;"
                 src="{{ eventImage.base64 }}"
                 alt="Card image cap">
        {% else %}
            <img class="card-img rounded-0"
                 style="{% if maxHeightImage|default %}max-height: {{ maxHeightImage }}px;{% endif%}"
                 src="https://picsum.photos/300/200"
                 alt="Card image cap">
        {% endif %}
        <div class="card-img-overlay" style="cursor: pointer">
            <h3>
                {% if not offer.quantity|default or (offer.quantity|default and offer.quantity > 0) %}
                <a data-toggle="modal" data-target="#offer{{ offer.id }}Modal" class="stretched-link">
                    {% endif %}
                    {{ item.name|capitalize|length > 30 ? item.name|slice(0, 30) ~ '...' : item.name }}
                    {% if not offer.quantity|default or (offer.quantity|default and offer.quantity > 0) %}
                </a>
                {% endif %}
            </h3>
            {% if item.description|default %}
                <p class="text-white">{{ item.description|length > 50 ? item.description|slice(0, 50) ~ '...' : item.description }}</p>
            {% endif %}

            {% if item.products|default and item.products|length > 0 %}
                <p class="text-white">{{ 'contains'|trans|capitalize }}:
                    {% for product in item.products %}{{ product.name }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
    </div>

    <div class="card-footer bg-transparent">
        <ul class="list-unstyled d-flex mb-0 py-2">
            <li>
                {{ (item.price/100)|localizedcurrency(item.priceCurrency) }}
            </li>
            <li class="ml-auto">
                {% if not offer.quantity|default or (offer.quantity|default and offer.quantity > 0) %}
                    <a class="px-2" style="cursor: pointer" data-toggle="modal"
                       href="#offer{{ offer.id }}Modal"><span>{{ 'add to cart'|trans|capitalize }}</span></a>
                {% else %}
                    <span>{{ 'SOLD OUT'|trans|capitalize }}</span>
                {% endif %}
            </li>
        </ul>
    </div>
</div>

{% if not offer.quantity|default or (offer.quantity|default and offer.quantity > 0) %}
    </a>
{% endif %}

{% if not offer.quantity|default or (offer.quantity|default and offer.quantity > 0) %}
    {% include 'modals/offer.html.twig' with {'offer': offer} %}
{% endif %}
