<!-- Organization card -->
{% if resource.totals is not defined  %}
    {% set resource = resource|merge({
        "totals": commonground_resource_list({'component':'rc','type':'totals'}, {'resource':resource['@id']})
    }) %}
{%  endif %}
{% set organizationEvents = commonground_resource_list({'component':'arc', 'type':'events'}, {'organization':resource['@id']})['hydra:member'] %}
{% set organizationCategories = commonground_resource_list({'component':'wrc','type':'categories'}, {'resources.resource':resource.id})['hydra:member'] %}
<a href="{{ path('app_organization_organization', {id: resource.id}) }}">
    <div class="card rounded-0 card-hover-overlay">
        <div class="position-relative">
            <img class="card-img rounded-0"
                {% if resource.style %}  src="{{ organizations.style.favicon.base64 }}"
                {% else %}
                    src="https://picsum.photos/300/200"
                {% endif %}
                 alt="Card image cap">
            <div class="card-img-overlay">
                <div class="d-flex align-items-center">
                    {% include 'widgets/rating.html.twig' with {'rating':resource.totals.rating} %}
                    <span class="d-inline-block mr-2" style="color: white">{{ resource.totals.reviews }} (Reviews)</span>
                </div>
                <h3 style="color: white">
                    {{ resource.name|capitalize|length > 30 ? resource.name|slice(0, 30) ~ '...' : resource.name }}
                </h3>

                <p class="text-white">
                    {% for category in organizationCategories %}
                        <i class="{% if category.icon|default %}{{ category.icon }}{% endif %}" data-toggle="tooltip"
                           data-placement="top" title="{{ category.name }}" aria-hidden="true"></i>
                    {% endfor %}
                </p>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <ul class="list-unstyled d-flex mb-0 py-2">
                <li onclick="likeItem('{{ resource['id'] }}','{{ resource['@id'] }}','{{ resource['@id'] }}', this)"
                    liked="{% if resource.totals.liked|default %}true{% else %}false{% endif %}"
                    data-toggle="tooltip"
                    data-placement="top"
                    title=""
                    data-original-title="Favourite this event">
                    <i {% if resource.totals.liked|default %} class="fas fa-heart text-primary" {% else %}class="fal fa-heart text-primary" {% endif %}
                        aria-hidden="true" id="icon_{{ resource['id'] }}"></i>
                    <span id="counter_{{ resource['id'] }}">{{ resource.totals.likes }}</span>
                </li>
                <li class="ml-auto">
                    <a class="px-2"
                       href="{{ path('app_organization_organization', {'id': organization.id}) }}">{{ 'view'|trans|capitalize }}</a>
                </li>
            </ul>
        </div>
    </div>
</a>
