<!-- Organization card -->
{% if resource.totals is not defined  %}
    {% set resource = resource|merge({
        "totals": commonground_resource_list({'component':'rc','type':'totals'}, {'resource':resource['@id']})
    }) %}
{%  endif %}
{% set organizationMembers = [] %}
{% set organizationEvents = commonground_resource_list({'component':'arc', 'type':'events'}, {'organization':resource['@id']})['hydra:member'] %}
{% set organizationCategories = commonground_resource_list({'component':'wrc','type':'categories'}, {'resources.resource':resource.id})['hydra:member'] %}
<div class="card rounded-0 card-hover-overlay">
    <div class="position-relative">
        <img class="card-img rounded-0" src="https://picsum.photos/300/200" alt="Card image cap">
        <div class="card-img-overlay pt-3 pb-0" onclick="location.href = '{{ path('app_organization_organization', {id: resource.id}) }}';" style="cursor: pointer;">
            <a href="{{ path('app_organization_organization', {id: resource.id}) }}#reviews">
                <div class="d-flex align-items-center">
                    {% include 'widgets/rating.html.twig' with {'rating':resource.totals.rating} %}
                    <span class="d-inline-block mr-2 text-white" >{{ resource.totals.reviews }} {{ 'reviews'|trans|capitalize }}</span>
                </div>
            </a>
            <h3 class="text-white mb-0">
                {{ resource.name|capitalize|length > 30 ? resource.name|slice(0, 30) ~ '...' : resource.name }}
            </h3>

            <p class="text-white">

            </p>
        </div>
    </div>
    <div class="card-footer bg-transparent">
        <ul class="list-unstyled d-flex mb-0 py-2">
            {% for category in organizationCategories %}
            <li>
                <i class="{% if category.icon|default %}{{ category.icon }}{% endif %} mr-1" data-toggle="tooltip" data-placement="top" title="{{ category.name }}" aria-hidden="true"></i>
            </li>
            {% endfor %}
            <li>
                <i class="far fa-calendar-alt" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                   data-original-title="{{ 'upcoming events'|trans|capitalize }}"></i><span class="mr-1"> {{ organizationEvents|length }}</span>
            </li>
            <li>
                <i class="fal fa-users-crown" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                   data-original-title="{{ 'number of members'|trans|capitalize }}"></i><span class="mr-1"> {{ organizationMembers|length }}</span>
            </li>
            <li class="ml-auto">
                <i {% if resource.liked|default %} class="fas fa-heart text-primary" {% else %}class="fal fa-heart text-primary" {% endif %} aria-hidden="true" id="icon_{{ resource['id'] }}" {% if app.user|default %}
                    onclick="likeItem('{{ resource['id'] }}','{{ resource['@id'] }}','{{ resource['@id'] }}', this)"
                    data-original-title="{{ 'favorite this organization'|trans|capitalize }}"
                {% else %}
                    data-original-title="{{ 'login to favorite this organization'|trans|capitalize }}"
                {% endif %}
                    liked="{% if resource.liked|default %}true{% else %}false{% endif %}"
                     data-toggle="tooltip"
                     data-placement="top"
                     title=""></i>
                <span id="counter_{{ resource['id'] }}">{{ resource.totals.likes }}</span>
            </li>
        </ul>
    </div>
</div>
