
{% set totals = commonground_resource_list({'component':'rc','type':'totals'}, {'resource':item['@id']})['hydra:member'] %}

<div class="card rounded-0 card-hover-overlay">
    <div class="position-relative">
        <img class="card-img rounded-0"
            {% if resource.style %}  src="{{ organizations.style.favicon.base64 }}"
                    {% else %}
                        src="https://picsum.photos/200"
                    {% endif %}
                    alt="organization logo">
        <div class="card-img-overlay">
            <div class="d-flex align-items-center">
                {% include 'widget/rating.html.twig' with {'rating':totals.ratings} %}
                <span class="d-inline-block mr-2" style="color: white">{{ totals.reviews }} (Reviews)</span>
            </div>
            <h3>
                <a href="{{ path('app_organization_organization', {'id': resource.id}) }}" class="stretched-link">
                    {{ resource.name|capitalize }}
                </a>
            </h3>
        </div>
    </div>
    <div class="card-footer bg-transparent">
        <ul class="list-unstyled d-flex mb-0 py-2">
            <li>
                <button class="btn-like px-2" data-toggle="tooltip" data-placement="top" title="" onclick="likeItem(this)" value="{{ resource['@id'] }}" data-original-title="Favourite this organisation" style="z-index: 2">
                    <i {% if totals.liked|default %} class="fa fa-heart text-primary" {% else %}class="fa fa-heart-o text-primary" {% endif %} aria-hidden="true"></i>
                    <span id="{{ resource['id'] }}">{{ totals.likes }}</span>
                </button>
                <i class="far fa-calendar-alt mr-2" aria-hidden="true" data-toggle="tooltip" data-placement="top" data-original-title="{{ 'upcoming events'|trans|capitalize }}"><span> {{ events|length }}</span></i>
            </li>
            <li class="ml-auto">
                <a class="px-2"
                   href="{{ path('app_organization_organization', {'id': organization.id}) }}">{{ 'view'|trans|capitalize }}</a>
            </li>
        </ul>
    </div>
</div>
